/* App menu ----------------------------------------------------------------- */

#appmenu li {
  span {
    border: 1px solid $decoration-normal;
    color: $foreground-normal;
    -webkit-filter: none;
    -moz-filter: none;
    -ms-filter: none;
    -o-filter: none;
    filter: none;
  }

  a.active::before {
    border-bottom-color: #ffba00;
  }

  &:hover a::before {
    border-bottom-color: $decoration-normal;
  }
}

#app-navigation .collapsible:hover > a, #app-navigation .collapsible:focus > a {
  background-position-x: 16px;
}

#app-navigation .collapsible .collapse {
  opacity: 0 !important;
  position: absolute;
  right: 26px;
  top: 7px;
  z-index: 99999;
}

#app-navigation .collapsible.open:before {
  transform: rotate(-90deg);
}

#app-navigation .collapsible:before {
  position: absolute;
  height: 44px;
  width: 44px;
  margin: 0;
  padding: 0;
  background-image: url("../img/arrow-right.svg?v=1");
  background-size: 14px;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-radius: 0;
  outline: none !important;
  box-shadow: none;
  content: ' ';
  opacity: 1;
  right: 26px;
  top: 7px;
  transform: rotate(90deg);
  z-index: 999;
}

/* App Navigation ----------------------------------------------------------- */

.app-files, .app-settings, .app-spreed, .app-activity {
  #app-navigation, #spreedme-room-list {
    ul > li > a:first-child img {
      width: 32px;
      height: 32px;
      margin-bottom: -11px;
    }
    ul > li > a, li > a {
      opacity: 1;
      margin-top: 3px;
      margin-bottom: 3px;
      font-weight: bold;
      background-size: 32px !important;
      padding: 0 12px 0 55px !important;

      &:hover, &:hover + div.app-navigation-entry-utils {
        box-shadow: none !important;
        border-radius: 150px;
        border: 0 solid #a5dec3;
        margin-left: 10px;
        margin-right: 5px;
        background-color: $background-active;
      }

      &.active:hover {
        background-color: $background-active;
      }
    }

    .active {
      box-shadow: none !important;
      border-radius: 150px;
      border: 0 solid #a5dec3;
      margin-left: 10px;
      margin-right: 5px;
      background-color: $background-active;
      > a {
        box-shadow: none !important;
        color: $foreground-active;
        font-weight: bolder;
      }
    }

    input {
      background-color: $background-normal !important;
    }

    select {
      background-color: $background-normal !important;
    }

    .app-navigation-entry-edit,
    .app-navigation-entry-deleted {
      background-color: $background-normal;
    }
  }
}

.app-navigation-entry-menu {

  li > button {
    color: $foreground-normal;

    &:hover {
      background-color: $background-active-hover;
    }
  }
}

/* App Sidebar -------------------------------------------------------------- */

#app-sidebar {
  background-color: $background-normal;
  border-color: $decoration-normal;

  .file-details {
    color: $foreground-normal;
  }

  .close {
    opacity: 1;
  }

  .thumbnail {
    min-width: 75px !important;
    width: 100% !important;
    background-repeat: no-repeat !important;
    min-height: 75px !important;
    overflow-x: hidden !important;
    height: 100% !important;
    background-size: 75px 75px !important;
    color: $foreground-normal;
  }
}

.tabHeaders .tabHeader {
  &, a {
    color: $foreground-normal;
  }

  &.selected, &:hover, &:focus {
    color: $foreground-active;
    border-bottom: 1px solid $decoration-active;
  }
}

.shareTabView {
  .icon {
    opacity: 0.5;
  }

  .error {
    color: $foreground-negative;
    border-color: $background-negative;
    box-shadow: none;
  }
}

.versionsTabView {

  li {
    border-color: $decoration-normal;

    &:hover {
      background: $background-active-hover;
    }
  }

  a {
    opacity: 1;
    color: $foreground-inactive;
  }
}

.ui-widget-content {
  a {
    color: $foreground-normal;
  }

  .ui-state-focus {
    border-color: $decoration-active;
    background: $background-active-hover;
    color: $foreground-normal;
  }
}

/* App Settings ------------------------------------------------------------- */

.settings-button {
  opacity: 1;

  &:hover {
    background-color: $background-active-hover;
  }
}

#app-settings-header {

}

#controls {
  background: #fafafa;
}

::-webkit-scrollbar {
  width: 11px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: #cccccc;
  border-radius: var(--border-radius);
}

::-webkit-scrollbar-track-piece {
  background-color: #cccccc2b;
}

#app-settings {
  margin-bottom: 15px !important;
}


