/* 
 * 
 * All the colours for the Nextcloud Breeze Dark Theme.
 *
*/

/* Default Colors */
$background-active: rgb(235, 255, 249, 1);
$background-active-alternate: rgba(152, 203, 83, 1);
$background-active-hover: #daf5f3;
$background-alternate: rgba(77, 77, 77, 1);
$background-dark: rgba(35, 38, 41, 1);
$background-normal: rgba(256, 256, 256, 1);
$background-negative: rgba(218, 68, 83, 1);
$background-neutral: rgba(256, 256, 256, 1);
$background-positive: rgba(39, 174, 96, 1);

$decoration-normal: rgba(231, 231, 231, 1);
$decoration-active: rgba(67, 183, 73, 1);

$foreground-active: rgba(0, 0, 0, 1);
$foreground-inactive: rgba(0, 0, 0, 0.5);
$foreground-link: rgba(87, 203, 101, 1);
//color for text
$foreground-normal: rgba(0, 0, 0, 1);
// Color for hovered active
$foreground-background: rgba(235, 255, 249);

$foreground-negative: rgba(218, 68, 83, 1);
$foreground-neutral: rgba(246, 116, 0, 1);
$foreground-positive: rgba(39, 174, 96, 1);
$foreground-visited: rgba(127, 140, 141, 1);

$foreground-markdown-marker: rgba(189, 195, 199, 0.4);

/* Buttons */
$button-background-active: $background-active-alternate;
$button-background-normal: $background-normal;
$button-background-dark: $background-dark;
$button-decoration-normal: $decoration-normal;
$button-decoration-active: $decoration-active;
$button-foreground-active: $foreground-active;
$button-foreground-inactive: $foreground-inactive;
$button-foreground-normal: $foreground-normal;

/* Input */
$input-background-normal: $background-dark;
$input-decoration-normal: $decoration-normal;
$input-decoration-active: $decoration-active;
$input-foreground-normal: $foreground-normal;
$input-foreground-active: $foreground-active;
$input-foreground-inactive: $foreground-inactive;

/*
 Default white for icons: rgba(242, 242, 242, 1)
*/
$icon-normal: rgba(242, 242, 242, 1);

/* Set the nextcloud color variables */
:root {
  --color-primary: #{$background-active-alternate};
  --color-main-background: #{$background-normal};
  --color-background-dark: #{$background-active-hover};
  --color-background-darker: #{$background-alternate};
  --color-main-text: #{$foreground-normal};
  --color-text-light: #{$foreground-normal};
  --color-text-lighter: #{$foreground-inactive};
  --color-text-maxcontrast: #{$foreground-normal};
  --color-border: #{$decoration-normal};
  --color-border-dark: #{$decoration-normal};
  --color-primary-element: #{$decoration-active};
  --color-error: #{$foreground-negative};
  --color-warning: #{$foreground-neutral};
  --color-success: #{$foreground-positive};
}

input, label {
  --color-checkbox-radio-border: #{$background-active-alternate};
  --color-checkbox-radio-disabled: #{$background-alternate};
}