/* Password ----------------------------------------------------------------- */

.icon-password,
.nav-icon-second-factor-backup-codes,
.nav-icon-apppasswords,
.nav-icon-ransomware-protection {
  background-image: url('../img/actions/password.svg?v=1');
}

/* Home --------------------------------------------------------------------- */

.icon-home,
.icon-inbox,
#oc-dialog-filepicker-content .dirtree div:first-child a {
  background-image: url('../img/places/home.svg?v=1');
  opacity: 1 !important;
}

/* Star --------------------------------------------------------------------- */

.icon-flagged,
.icon-star-dark,
.nav-icon-favorites {
  background-image: url('../img/Favorites-icon-hover.svg?v=1');
}

.icon-star,
.icon-starred:hover,
.icon-starred:focus,
.icon-stationfav, {
  background-image: url('../img/actions/Star.svg?v=1');
  opacity: 0.5;
}

/* Starred ------------------------------------------------------------------ */

.icon-starred,
.icon-star:hover,
.icon-star:focus,
.app-news #app-navigation .icon-starred {
  background-image: url('../img/actions/starred.svg?v=1');
  opacity: 1;
}

/* Rename ------------------------------------------------------------------- */

.icon-rename,
.icon-drafts {
  background-image: url('../img/actions/rename.svg?v=1');
}

/* Error -------------------------------------------------------------------- */

.icon-junk {
  background-image: url('../img/actions/error.svg');
}

/* Delete ------------------------------------------------------------------- */

.icon-delete {
  background-image: url('../img/Deleted files-icon-hover.svg?v=1');
}

.icon-trash,
.nav-icon-trashbin,
.nav-icon-drop-account {
  background-image: url('../img/Deleted files-icon-hover.svg?v=1');
}

/* Checkmark ---------------------------------------------------------------- */

.icon-checkmark,
.icon-sent,
.icon-category-enabled,
.multiselect.multiselect-vue .multiselect__content-wrapper li > span::before {
  background-image: url('../img/actions/checkmark.svg?v=1');
  background-size: 16px 16px;
}

/* History ------------------------------------------------------------------ */

.icon-history,
#app-navigation .icon-updatemode-default {
  background-image: url('../img/actions/history.svg?v=1');
}

#app-navigation .icon-updatemode-unread {
  background-image: url('../img/actions/history.svg');
  opacity: 0.25;
}

/* External ----------------------------------------------------------------- */

.nav-icon-extstoragemounts,
.nav-icon-external-storage,
.icon-external {
  background-image: url('../img/Copy-icon-hover.svg?v=1');
}

/* Public ------------------------------------------------------------------- */

.icon-public,
.nav-icon-sharinglinks {
  background-image: url('../img/Link-greengradient-icon-hover.svg?v=1');
}

/* Share -------------------------------------------------------------------- */

.nav-icon-sharingout {
  background-image: url('../img/Sharedwithothers-icon-hover.svg');
}

.nav-icon-sharingin {
  background-image: url('../img/Sharedwithyou-icon-hover.svg');
}

.icon-share,
.icon-shared,
.nav-icon-federated-cloud,
.nav-icon-shareoverview {
  background-image: url('../img/File shares-icon-hover.svg?v=1');
}

.action {
  .icon-share,
  .icon-shared {
    background-image: url('../img/File shares-icon.svg?v=1');
    opacity: 1 !important;
  }
}

#content[class*='app-'] *,
a span {
  color: #000;
  opacity: 1 !important;
}

/* Unshare ------------------------------------------------------------------ */

.nav-icon-deletedshares {
  background-image: url('../img/UnShare-greengradient-icon-hover.svg?v=1');
}

/* Phone -------------------------------------------------------------------- */

.icon-phone {
  background-image: url('../img/clients/phone.svg')
}

/* Tablet ------------------------------------------------------------------- */

.icon-tablet {
  background-image: url('../img/clients/tablet.svg')
}

/* Desktop ------------------------------------------------------------------ */

.icon-desktop {
  background-image: url('../img/clients/desktop.svg')
}

/* Tag ---------------------------------------------------------------------- */

.icon-tag,
.nav-icon-systemtagsfilter {
  background-image: url('../img/Tags-icon-hover.svg?v=1');
}

/* Link/World --------------------------------------------------------------------- */

.icon-link,
.icon-world {
  background-image: url('../img/Link-greengradient-icon-hover.svg?v=1');
}

/* Toggle ------------------------------------------------------------------- */

.icon-toggle,
#show + label,
#dbpassword-toggle + label,
#personal-show + label {
  background-image: url('../img/actions/toggle.svg?v=1');
}

/* Toggle Filelist ---------------------------------------------------------- */

.nav-icon-sessions {
  background-image: url('../img/actions/toggle-filelist.svg?v=1');
}

/* Toggle Pictures ---------------------------------------------------------- */

.icon-toggle-pictures,
#albenoverview li {
  background-size: 30px;
  background-image: url('../img/actions/toggle-pictures.svg');
}

/* Settings ----------------------------------------------------------------- */

.settings-button,
.icon-settings,
.icon-settings-dark,
.icon-category-tools,
#app-navigation .music-nav-settings a {
  background-size: 20px 20px;
  background-image: url('../img/Settings-icon-hover.svg?v=1');
}

/* Add ---------------------------------------------------------------------- */

.icon-add {
  background-image: url('../img/actions/add.svg?v=1');
  opacity: 1 !important;
}

.actions .new {
  background: #d8d8d8;
  border: #c2c2c2;
}

/* Upload ------------------------------------------------------------------- */

.icon-upload {
  background-image: url('../img/Upload-large-icon.svg?v=1');
}

/* More --------------------------------------------------------------------- */

.icon-more,
.icon-more-white,
.icon-more.icon-white,
#app-navigation .app-navigation-entry-utils
.app-navigation-entry-utils-menu-button
button:not([class^="icon-"]):not([class*=" icon-"]) {
  background-image: url('../img/More-icon-hover.svg?v=1');
  background-size: 16px 16px;
}

/* Files -------------------------------------------------------------------- */

.icon-category-files,
.icon-files-dark,
.nav-icon-files {
  background-image: url('../img/Files-icon-hover.svg?v=1');
}

/* Download ----------------------------------------------------------------- */

.icon-download,
.icon-category-updates {
  background-image: url('../img/Download-brown-icon.svg?v=1');
}

/* Triangle-N --------------------------------------------------------------- */

.icon-triangle-n {
  background-image: url('../img/actions/triangle-n.svg?v=1');
}

/* Triangle-S --------------------------------------------------------------- */

.icon-triangle-s,
#app-navigation .collapsible::before {
  background-image: url('../img/actions/triangle-s.svg?v=1');
}

select {
  background: url('../img/actions/triangle-s.svg') no-repeat right 8px center;
}

.select2-container .select2-choice .select2-arrow b {
  background: url('../img/actions/triangle-s.svg') no-repeat center !important;
}

/* Details ------------------------------------------------------------------ */

.icon-details {
  background-image: url('../img/actions/details.svg?v=1');
}

/* Contacts ----------------------------------------------------------------- */
header {

  .header-left #appmenu > li[data-id="calendar"] {

  }
  .header-right, .header-left #appmenu {

    svg {
      width: 32px;
      height: 32px;
    }
    div, form, li {
      background-size: 32px 32px !important;
    }
    li[data-id$="spreed"] {
      background-size: 204px !important;
    }
    .icon-more-white {
      background-size: 16px 16px !important;
    }
    .searchbox input[type='search'] {
      padding-left: 40px !important;
      height: 39px !important;
    }
  }
}

.icon-contacts-dark, .icon-contacts {
  opacity: 1 !important;
  background-image: url('../img/Contacts-icon-hover.svg?v=1') !important;
  background-size: contain;
}

/* Info --------------------------------------------------------------------- */

.icon-info {
  background-image: url('../img/actions/details.svg?v=1');
  opacity: 0.5;
}

/* Help --------------------------------------------------------------------- */

.icon-help {
  background-image: url('../img/help.svg');
}

/* Clippy ------------------------------------------------------------------- */

.icon-clippy {
  background-image: url('../img/actions/clippy.svg?v=2');
  opacity: 0.5;
}

/* Comment ------------------------------------------------------------------ */

.icon-comment {
  background-image: url('../img/actions/Comment-icon-hover.svg?v=1');
}

/* Confirm ------------------------------------------------------------------ */

.icon-confirm,
input[type="text"] + .icon-confirm:disabled,
input[type="password"] + .icon-confirm:disabled,
input[type="email"] + .icon-confirm:disabled {
  background-image: url('../img/actions/confirm.svg?v=2');
}

/* Search ------------------------------------------------------------------- */

.icon-search,
.icon-search-white, .icon-search.icon-white,
.icon-category-search {
  background-size: 32px 32px;
  background-image: url('../img/Search-icon-hover.svg?v=1') !important;
}

header {

  li[data-id$="worldposta"] {

    display: none;
  }

  li[data-id$="gallery"] {
    background-size: 32px 32px;
    background-repeat: no-repeat;
    background-position: center;
    svg {
      display: none;
    }
    background-image: url('../img/Gallery-icon-hover.svg?v=1');
  }

  li[data-id$="files"] {
    background-size: 32px 32px;
    background-repeat: no-repeat;
    background-position: center;
    svg {
      display: none;
    }
    background-image: url('../img/Files-icon-hover.svg?v=1');
  }
  li[data-id$="activity"] {
    background-size: 32px 32px;
    background-repeat: no-repeat;
    background-position: center;
    svg {
      display: none;
    }
    background-image: url('../img/Activity-icon.svg?v=1');
  }

  li[data-id$="contacts"] {
    background-size: 32px 32px;
    background-repeat: no-repeat;
    background-position: center;
    svg {
      display: none;
    }
    background-image: url('../img/Contacts-icon-hover.svg?v=1') !important;
  }

  li[data-id$="calendar"] {
    background-size: 32px 32px;
    background-repeat: no-repeat;
    background-position: center;
    svg {
      display: none;
    }
    background-image: url('../img/Calendar-icon-hover.svg');
  }
  li#more-apps {
    order: 7;
  }
  li[data-id$="spreed"] {
    order: 6;
    background-size: 204px !important;
    background-repeat: no-repeat;
    background-position: center;
    svg {
      display: none;
    }
    background-image: url('../img/spreed.svg');
  }

  .avatardiv-shown {
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: center;
    img {
      display: none;
    }
    background-image: url('../img/Avatar-icon-hover.svg?v=1');
  }

  #expanddiv {
    li[data-id$="settings"] a {
      img {
        display: none;
      }
      background-size: 20px 20px;
      background-repeat: no-repeat;
      background-position-x: 5px;
      padding-left: 27px;
      background-position-y: center;
      background-image: url('../img/Settings-icon-hover.svg?v=1');
    }
    li[data-id$="core_apps"] a {
      img {
        display: none;
      }
      background-size: 20px 20px;
      background-repeat: no-repeat;
      background-position-x: 5px;
      padding-left: 27px;
      background-position-y: center;
      background-image: url('../img/Add-icon-hover.svg?v=1');
    }
    li[data-id$="core_users"] a {
      img {
        display: none;
      }
      background-size: 20px 20px;
      background-repeat: no-repeat;
      background-position-x: 5px;
      padding-left: 27px;
      background-position-y: center;
      background-image: url('../img/Avatar-icon-hover.svg?v=1');
    }
    li[data-id$="help"] a {
      img {
        display: none;
      }
      background-size: 20px 20px;
      background-repeat: no-repeat;
      background-position-x: 5px;
      padding-left: 27px;
      background-position-y: center;
      background-image: url('../img/Help-icon-hover.svg') !important;
    }
    li[data-id$="logout"] a {
      img {
        display: none;
      }
      background-size: 20px 20px;
      background-repeat: no-repeat;
      background-position-x: 5px;
      padding-left: 27px;
      background-position-y: center;
      background-image: url('../img/Logout-icon-hover.svg') !important;
    }
  }

}

.select2-drop .select2-search input {
  background: url('../img/Search-icon.svg') no-repeat right center !important;
  background-origin: content-box !important;
  &:hover, &:focus {
    background: url('../img/Search-icon.svg') no-repeat right center !important;
  }
}

/* Recent ------------------------------------------------------------------- */

.nav-icon-recent {
  background-image: url('../img/Recent-icon-hover.svg?v=1');
}

/* Caret -------------------------------------------------------------------- */

.icon-caret-dark {
  background-image: url('../img/actions/caret.svg?v=1');
}

/* RSS ---------------------------------------------------------------------- */

.icon-rss {
  background-image: url('../img/actions/rss.svg') !important;
}

/* Close -------------------------------------------------------------------- */

.icon-close,
.icon-category-disabled {
  background-image: url('../img/actions/close.svg?v=1');
  background-size: 22px;
}

.oc-dialog-close {
  background-size: 22px;
  background: url('../img/actions/close.svg') no-repeat center;
}

/* Close (no shadow) -------------------------------------------------------- */

.icon-category-disabled,
#newPlaylistBtn_cancel.icon-close {
  background-image: url('../img/actions/close-ns.svg');
  background-size: 22px;
}

/* View Close --------------------------------------------------------------- */

.icon-view-close {
  background-image: url('../img/actions/view-close.svg');
}

/* Menu --------------------------------------------------------------------- */

.icon-menu {
  background-image: url('../img/actions/menu.svg?v=1');
}

/* User --------------------------------------------------------------------- */

.icon-user,
.nav-icon-personal-settings,
.icon-category-installed {
  background-image: url('../img/actions/user.svg?v=1');
}

/* User admin --------------------------------------------------------------- */

.icon-user-admin {
  background-image: url('../img/actions/user-admin.svg?v=1');
}

/* Right Arrow -------------------------------------------------------------- */

.icon-view-next {
  background-image: url('../img/actions/arrow-right.svg');
}

/* Left Arrow _-------------------------------------------------------------- */

.icon-view-previous {
  background-image: url('../img/actions/arrow-left.svg');
}

/* Right Arrow Big ---------------------------------------------------------- */

.glyphicon-chevron-right,
.ui-widget.ui-datepicker .ui-widget-header .ui-icon.ui-icon-circle-triangle-e {
  background: url("../img/rightarrow.svg") center center no-repeat;
}

/* Left Arrow Big--------------------------------------------------------------- */

.glyphicon-chevron-left,
.ui-widget.ui-datepicker .ui-widget-header .ui-icon.ui-icon-circle-triangle-w {
  background: url("../img/leftarrow.svg") center center no-repeat;
}

/* Change ------------------------------------------------------------------- */

.nav-icon-clientsbox {
  background-image: url('../img/change.svg?v=1');
}

/* Edit --------------------------------------------------------------------- */

.icon-edit {
  background-image: url('../img/actions/edit.svg?v=1')
}

/* Quota -------------------------------------------------------------------- */

.icon-quota {
  background-image: url('../img/Quota-icon-hover.svg?v=1');
}

/* Mail --------------------------------------------------------------------- */

.icon-mail,
.icon-social-email {
  background-image: url('../img/email.svg');
}

/* Calendar ----------------------------------------------------------------- */

.icon-badge,
.icon-calendar-dark {
  background-image: url('../img/Calendar-icon-hover.svg');
}

/* Play --------------------------------------------------------------------- */

.icon-play {
  background-image: url('../img/actions/play.svg');
}

/* pause --------------------------------------------------------------------- */

.icon-pause {
  background-image: url('../img/actions/pause.svg');
}

/* Play Big ----------------------------------------------------------------- */

// Music app
.app-music, #music-controls {

  .current.playing .play-pause,
  div:hover > .play-pause,
  #app-view .current:not(.playing) div:hover .play-pause,
  #app-navigation .current:not(.playing) :hover .play-pause {
    background-image: url('../img/actions/play-big.svg');
  }
}

/* User Plus ---------------------------------------------------------------- */

.icon-add-user {
  background-image: url('../img/actions/user-plus.svg') !important;
}

/* Pause Big ---------------------------------------------------------------- */

// Music app
.current:not(.playing) .play-pause,
#app-view .current.playing div:hover .play-pause,
#app-navigation .current.playing :hover .play-pause {
  background-image: url('../img/actions/pause-big.svg');
}

/* Fullscreen --------------------------------------------------------------- */

.icon-fullscreen {
  background-image: url('../img/actions/fullscreen.svg');
}

/* Video -------------------------------------------------------------------- */

.icon-video,
.icon-video-white {
  background-image: url('../img/actions/video.svg');
}

/* Video off ---------------------------------------------------------------- */

.icon-video-off,
.icon-video-off-white {
  background-image: url('../img/actions/video-off.svg');
}

/* Audio -------------------------------------------------------------------- */

.icon-audio,
.icon-audio-white {
  background-image: url('../img/actions/audio.svg');
}

/* Audio off ---------------------------------------------------------------- */

.icon-audio-off,
.icon-audio-off-white {
  background-image: url('../img/actions/audio-off.svg');
}

/* Screen ------------------------------------------------------------------- */

.icon-screen,
.icon-screen-white {
  background-image: url('../img/actions/screen.svg');
}

/* Screen off --------------------------------------------------------------- */

.icon-screen-off,
.icon-screen-off-white {
  background-image: url('../img/actions/screen-off.svg');
}

/* Address ------------------------------------------------------------------ */

.icon-address {
  background-image: url('../img/actions/address.svg');
}

/* App Categories ----------------------------------------------------------- */

// App Bundles
.icon-category-app-bundles {
  background-image: url('../img/categories/bundles.svg?v=1');
}

// Customization
.icon-category-customization {
  background-image: url('../img/categories/customization.svg?v=1');
}

// Games
.icon-category-games {
  background-image: url('../img/categories/games.svg?v=1');
}

// Integration
.icon-category-integration {
  background-image: url('../img/categories/integration.svg?v=1');
}

// Monitoring
.icon-category-monitoring {
  background-image: url('../img/categories/monitoring.svg?v=1');
}

// Multimedia
.icon-category-multimedia {
  background-image: url('../img/categories/multimedia.svg?v=1');
}

// Office & text
.icon-category-office {
  background-image: url('../img/categories/office.svg?v=1');
}

// Organization
.icon-category-organization {
  background-image: url('../img/categories/organization.svg?v=1');
}

// Security
.icon-category-security {
  background-image: url('../img/actions/password.svg?v=1');
}

// Social og communication
.icon-category-social {
  background-image: url('../img/categories/social.svg?v=1');
}

/* Activity App ------------------------------------------------------------- */

.icon-activity,
.nav-icon-activity {
  background-image: url('../img/Activity-icon-hover.svg?v=1');
}

/* Calendar App ------------------------------------------------------------- */

.icon-timezone {
  background-size: 25px !important;
  background: url("../img/actions/timezone.svg") center center no-repeat;
}

/* Deck App ----------------------------------------------------------------- */

.icon-deck {
  background: url("../img/deck.svg");
}

/* News App ----------------------------------------------------------------- */

// Unpinned
.icon-unpinned,
#app-navigation .icon-unpinned {
  background-image: url('../img/actions/unpinned.svg');
}

// Pinned
.icon-pinned,
#app-navigation .icon-pinned {
  background-image: url('../img/actions/pinned.svg');
}

// Full text enabled
.icon-full-text-enabled {
  background-image: url('../img/actions/fulltext.svg');
}

// Full text disabled
.icon-full-text-disabled {
  background-image: url('../img/actions/nonfulltext.svg');
}

/* Annoucement Center App --------------------------------------------------- */

.icon-announcement {
  background-image: url('../img/places/announcementcenter.svg');
}

/* Audio player App --------------------------------------------------------- */

.sm2-inline-button.play-pause,
.sm2-inline-button.play-pause:hover,
.paused.sm2-inline-button.play-pause:hover {
  background-image: none, url('../img/bar-ui/play.svg');
}

.playing .sm2-inline-button.play-pause {
  background-image: none, url('../img/bar-ui/pause.svg');
}

.sm2-inline-button.previous {
  background-image: none, url('../img/bar-ui/previous.svg');
}

.sm2-inline-button.next {
  background-image: none, url('../img/bar-ui/next.svg');
}

.sm2-inline-button.repeat {
  background-image: none, url('../img/bar-ui/repeat.svg');
}

.sm2-inline-button.shuffle {
  background-image: none, url('../img/bar-ui/shuffle.svg');
}

.sm2-inline-button.sm2-volume-control,
.sm2-inline-button.sm2-volume-control.volume-shade {
  background-image: none, url('../img/bar-ui/volume.svg');
}

/* Mail App ----------------------------------------------------------------- */

.icon-reply {
  background-image: url('../img/mail/reply.svg');
}

.icon-archive {
  background-image: url('../img/mail/archive.svg');
}

/* Music App ---------------------------------------------------------------- */

.nav-icon-music {
  background-image: url('../img/places/music.svg')
}

/* Social Sharing App ------------------------------------------------------- */

.social-facebook,
.icon-social-facebook {
  background-image: url('../img/social/facebook.svg');
}

.social-twitter,
.icon-social-twitter {
  background-image: url('../img/social/twitter.svg');
}

.social-googleplus,
.icon-social-googleplus {
  background-image: url('../img/social/googleplus.svg');
}

.social-diaspora,
.icon-social-diaspora {
  background-image: url('../img/social/diaspora.svg');
}

/* Two Factor Apps ---------------------------------------------------------- */

.nav-icon-totp-second-factor-auth {
  background-image: url('../img/twofactor-totp.svg?v=1');
}

.icon-u2f-device,
.nav-icon-u2f-second-factor-auth {
  background-image: url('../img/twofactor-u2f.svg?v=1');
}

/* FullTextSearch ----------------------------------------------------------- */

div.icon-fulltextsearch-white {
  background-image: url('../img/Search-icon.svg');
}

.icon-folder {
  background-image: url('../img/Folder-icon.svg?v=1') !important;
}

.menuitem .icon-folder {
  background-image: url('../img/FolderAdd-icon.svg?v=1') !important;
}

.icon-filetype-text {
  background-image: url('../img/TXT.svg?v=1') !important;
}

/* CSS tricks to change icon color ------------------------------------------ */

// Music app: icons for Music player controls in files and in app
#music-controls img.control,
.app-music img.control {
  //filter: invert(95%);
}

// Music app: follow-playback icon
.app-music #app-sidebar #follow-playback {
  //filter: invert(95%);
}

// Music app: Play button on album covers
.app-music img.play.svg {
  //filter: invert(95%);
}

// Music app: Play option in file action menu in Files App
.fileActionsMenu .action-music-play img.icon {
  //filter: invert(95%);
}

// Image viewer
.icon-white {
  //filter: unset;

  &.icon-shadow {
    //filter: unset;
  }
}

// Change the app icons in the navigation menu to white
#navigation .app-icon {
  //filter: none;

  image {
    //filter: none;
  }
}

img.notification-icon {
  //filter: invert(75%);
}

// Change home icon in gallery app to white
#controls #breadcrumbs .crumb a img {
  //filter: invert(95%);
}

.actions a.button.new img {
  //filter: invert(75%);
}

// Make icon for impersonate in user menu white
a.impersonate img.svg {
  //filter: invert(95%);
}

// Force svgs to 16x16 in settings dropdown
#settings #expanddiv ul li a img {
  width: 16px;
  height: 16px;
}

// Arrow in advanved ldap settings
#ldapSettings .ui-accordion .ui-accordion-header .ui-accordion-header-icon {
  //filter: invert(95%);
}

// Home icon in controls in passwords app
.app-passwords #app-content #controls img[src$="/core/img/places/home.svg"] {
  //filter: invert(95%);
}

// Apps with generic icons names

.app-settings {

  // In admin and personal settings
  #app-navigation img[src$="/img/app-dark.svg"] {
    //filter: invert(95%);
  }

  // In admin settings
  #app-navigation img[src$="/settings/img/password.svg"],
  #app-navigation img[src$="/apps/fulltextsearch/img/fulltextsearch_black.svg"],
  #app-navigation img[src$="/apps/external/img/external-dark.svg"] {
    //filter: invert(95%);
  }

  // In apps list
  #apps-list .app-image image,
  #app-sidebar #app-details-view image.app-icon {
    //filter: invert(5%);

  }

  // Apps that are excluded from colour inverting
  #apps-list {

    #app-user_saml .app-image image {
      //filter: none;
    }
  }

  #personal-settings .federationScopeMenu ul li a {
    img[src$="/core/img/actions/password.svg"],
    img[src$="/core/img/places/contacts-dark.svg"],
    img[src$="/core/img/link.svg"] {
      //filter: invert(95%);
    }
  }
}

// Annoucement Center
.app-announcementcenter #app-content .section span img {
  //filter: invert(95%);
}

#body-login {
  background-image: url('../img/loginbg.jpg') !important;
  main > .update {
    background: transparent;
    border: 1px solid #79c142;
    border-radius: 15px;
    #more_options {
      input {
        border: 1px solid !important;
      }
    }
    input[type="submit"] {
      background: #75c64c !important;
      border: none !important;
      width: 91%;
      color: #fff !important;
    }
  }
  main > form > fieldset {
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 271px;
    background-image: url('../img/loginborders.jpg') !important;
    #user {
      border: none;
      background: transparent;
      font-size: 13px;
      padding-left: 42px;
      margin-top: 5px;
    }
    #password {
      background: transparent;
      font-size: 13px;
      padding-left: 37px;
      margin-top: 37px !important;
      border: none !important;
    }

    #submit {
      background: transparent;
      border: none;
      margin-top: 30px;
      font-size: 12px;
      color: #75c64c;
    }
    #submit-wrapper .submit-icon {
      top: 40px !important;
      right: 48px !important;
    }

    .lost-password-container #lost-password {
      color: black !important;
      margin-top: 9px !important;
      margin-left: 12px !important;
    }

    .wrongPasswordMsg {
      position: absolute;
      width: 100%;
      text-align: center;
      top: -60px;
    }
  }

}

.app-settings {
  #app-navigation {
    a > img {
      opacity: 0 !important;
    }
  }
  .icon-upload, .icon-folder {
    background-size: contain;
    border: 0;
  }
  .icon-delete {
    background-size: 18px 18px;
  }
  #app-navigation > ul:not(#usergrouplist):not(#appscategories) > {
    li:first-child {
      background-repeat: no-repeat;
      background-size: 32px 32px;
      background-position-y: 7px;
      background-position-x: 7px;
    }
    li:first-child, li:nth-child(2) a {
      background-image: url('../img/Avatar-icon-hover.svg?v=1') !important;
    }
    li:nth-child(3) a {
      background-image: url('../img/Security-icon-hover.svg') !important;
    }
    li:nth-child(4) a {
      background-image: url('../img/Activity-icon-hover.svg') !important;
    }
    li:nth-child(6) {
      display: none;
    }
    li:nth-child(7) a {
      background-image: url('../img/Shares-icon-hover.svg') !important;
    }
    li:nth-child(9) a {
      background-image: url('../img/actions/checkmark.svg') !important;
    }
    li:nth-child(10) a {
      background-image: url('../img/Settings-icon-hover.svg?v=1') !important;
    }
    li:nth-child(11) a {
      background-image: url('../img/Activity-icon.svg') !important;
    }
    li:nth-child(12) a {
      background-image: url('../img/Help-icon-hover.svg') !important;
    }
    li:nth-child(13) a {
      background-image: url('../img/Shares-icon-hover.svg') !important;
    }
    li:nth-child(14) a {
      background-image: url('../img/Security-icon-hover.svg') !important;
    }
    li:nth-child(15) a {
      background-image: url('../img/Activity-icon-hover.svg') !important;
    }
  }
}

.body-settings {
  .icon-checkmark {
    background-size: 16px 16px;
  }
  .icon-more-white {
    background-size: 20px 20px;
  }
}

.shared-button img {
  width: 18px;
}

.share-menu {
  input {
    background-size: 16px 16px;
  }
}

.app-contacts {

  .propertyGroup__title {
    .icon-contacts-dark {

    }
  }
}

//
//Worldposta Page: 125
//Theme Basic Design 550
//Filter app & Changes 300
//Only Office: 200
