/* Login Screen ------------------------------------------------------------- */
#body-login {
  background-color: $background-normal !important;
  input {
    border: 0 !important;
  }
  input.primary {
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 54px;
    width: 100%;
    margin-top: 20px;
  }
  #submit-wrapper {
    input.login {
      background: $background-active-alternate;
      color: white;
      font-weight: bold;
      font-size: 20px;
      border-radius: 54px;
      width: 100%;
      margin-top: 20px;
    }
  }
  .submit-icon {
    display: none;
  }
  p.info {
    color: $foreground-inactive;

    a {
      font-weight: 600;

      &:hover {
        opacity: 1;
      }
    }

  }

  #remember_login + label {

    &:hover, &:focus {
      opacity: 1;
      color: $foreground-inactive;
    }
  }

  form fieldset legend,
  form fieldset .warning-info,
  form input[type="checkbox"] + label,
  #datadirContent label {
    color: $foreground-inactive;
  }
}

/* Header ------------------------------------------------------------------- */

// Logo
#header .logo,
#header .logo-icon {
  background-image: url('../img/logo.svg');
}

#header #nextcloud {
  min-width: 200px;
  padding-left: 0;
  margin-right: 100px;
  .logo-icon {
    width: 100%;
  }
}

// Header Bar
#body-user #header,
#body-settings #header,
#body-public #header {
  background-color: $background-normal;
  border-bottom: 3px solid #ffba00;
}

// Remove added opacity on Settings dropdown
#settings #expand:hover img,
#settings #expand:focus img,
settings #expand:active img,
#settings #expand:hover #expandDisplayName,
#settings #expand:focus #expandDisplayName,
#settings #expand:active #expandDisplayName {
  opacity: 1 !important;
}

/* Search ------------------------------------------------------------------- */

.searchbox input[type="search"]:focus,
.searchbox input[type="search"]:active,
.searchbox input[type="search"]:valid {
  border-color: $decoration-active !important;
  background-color: $background-neutral !important;
}

/* Breadcrumbs -------------------------------------------------------------- */

div.crumb a, div.crumb > span {
  color: $foreground-normal;
  background-size: inherit;
}

div.crumb span.icon-shared, div.crumb span.icon-public {
  opacity: 0.3;
}

/* Menues ------------------------------------------------------------------- */

.menu {
  box-shadow: none;
  background-color: $background-normal;
  border: 1px solid $decoration-normal;

  &::after {
    border-bottom-color: $decoration-normal;
  }

  li {
    color: $foreground-normal;

    &:hover {
      background-color: $background-active-hover;
    }
  }
}

#contactsmenu {

  .menutoggle:hover {
    opacity: 1;
  }

  > .menu {

    .contact {
      border-bottom-color: $decoration-normal;
    }

    .content .footer a {
      opacity: 1;
    }
  }
}

.popovermenu {
  background-color: $background-normal;
  color: $foreground-normal;
  border: 1px solid $decoration-normal;
  filter: none;

  &::after {
    border-bottom-color: $decoration-normal;
  }

  li {

    > a {
      color: $foreground-normal;
    }
  }
}

.bubble, .app-navigation-entry-menu {
  background-color: $background-normal;
  color: $foreground-normal;
  border: 1px solid $decoration-normal;
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
  -o-filter: none;
  filter: none;

  &::after {
    border-bottom-color: $decoration-normal;
  }
}

#header .header-left > nav > #navigation.menu,
#header .header-right > div > .menu {
  filter: none;

  &::after {
    border-bottom-color: $decoration-normal;
  }
}

#body-settings #expand::before {
  border-bottom-color: $decoration-normal;
}

#navigation {
  background-color: $background-normal;
  border: 1px solid $decoration-normal;
  box-shadow: none;

  &::after {
    border-bottom-color: $decoration-normal;
  }

  a span {
    color: $foreground-normal;
  }
}

#app-navigation .utils .action {

  &:hover, &:focus {
    opacity: 0.7;
  }
}

/* Info colours ------------------------------------------------------------- */

#postsetupchecks .errors,
#postsetupchecks .warnings,
#security-warning > ul {
  color: $foreground-negative;
}

.warning {
  color: #fff !important;
}

#body-user .warning {
  color: $foreground-negative;
  background-color: $background-normal;
  border: 1px solid $decoration-normal;
}

#body-settings .warning {
  background: $background-negative;
}

.success {
  color: $foreground-positive;
}

span {

  &.warnings {
    background-color: $background-negative;
  }

  &.error {
    background-color: $background-negative;
  }

  &.success {
    background-color: $background-positive;
  }
}

.msg {

  &.warnings {
    color: $foreground-active;
    background-color: $background-negative;
  }

  &.error {
    color: $foreground-active;
    background-color: $background-negative;
  }

  &.success {
    color: $foreground-active;
    background-color: $background-positive;
  }
}

/* General Settings --------------------------------------------------------- */

// Section Container
// Primarily seems to be used under settings
.section, .followupsection {
  color: $foreground-normal;
}

// Cropper
// For cropping images, found under personal settings for adding avatar
#cropper .inner-container {
  background-color: $background-normal;
  color: $foreground-normal;
  box-shadow: none;
  border: 1px solid $decoration-normal;

  .jcrop-holder {
    box-shadow: none;
  }
}

// Description of the different update channels
#updatenotification .channel-description span {
  color: $foreground-normal;

  strong {
    color: $foreground-active;
    font-weight: bold;
  }
}

/* App Store ---------------------------------------------------------------- */

.app-level {

  span {
    color: $foreground-normal;
  }

  .official {
    border-color: $background-positive;
  }
}

#apps-list {
  &.installed {

    .app-image-icon svg,
    .app-image-icon .icon-settings-dark {
      opacity: 1;
    }

    .section > * {
      border-bottom-color: $decoration-normal;
    }
  }

  .app-name {
    font-weight: 600;
  }
}

#app-sidebar #app-details-view h2 {

  svg,
  .icon-settings-dark {
    opacity: 1;
  }

}

.app-version {
  color: $foreground-inactive;
}

/* Files table -------------------------------------------------------------- */
// Used by files app and file picker

#filestable tbody {
  tr {
    background-color: $background-normal;

    &:hover {
      background-color: $background-active-hover;
    }

    &:focus, &:active {
      background-color: $background-active;
    }

    &.highlighted, &.highlighted .name:focus, &.selected, &.searchresult {
      background-color: $background-active;
      color: $foreground-active;

      .filename, .filesize, .date {
        font-weight: 600;
      }
    }

    &.externalDisabledRow {
      background-color: $background-alternate;
    }

    &.externalErroredRow {
      background-color: $background-negative;
    }
  }

  .name:focus {
    background-color: inherit;
  }
}

/* File picker -------------------------------------------------------------- */

.oc-dialog {
  background-color: $background-normal;
  color: $foreground-normal;
  box-shadow: none;
  border: 1px solid $decoration-normal;

  .fileexists th label {
    color: $foreground-normal;
  }
}

.oc-dialog-title {
  background-color: $background-normal;
}

#oc-dialog-filepicker-content .filelist {
  background-color: $background-dark;

  td {
    border-bottom-color: $decoration-normal;
  }
}

#oc-dialog-filepicker-content .filepicker_element_selected {
  background-color: $background-active;

  td {
    font-weight: 600;
  }

  .filename {
    color: $foreground-active;
  }

  &:hover {
    background-color: $background-active;
  }
}

.oc-dialog-buttonrow {
  background-image: none;
  background-color: $background-normal;
}

/* Multiselect -------------------------------------------------------------- */

div.multiselect.active {
  background-color: $background-normal;
}

ul.multiselectoptions {
  background-color: $background-normal;
  border-color: $decoration-normal;

  &.down {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}

/* Dropdown Selects --------------------------------------------------------- */
// Used by tags selection and some dropdowns

.select2-container-multi {

  .select2-choices,
  &.select2-container-active .select2-choices {
    background-color: $background-dark;
    color: $foreground-normal;
    border-color: $decoration-normal;
  }

  .select2-choices .select2-search-choice,
  &.select2-container-active .select2-choices .select2-search-choice {
    background-color: $background-normal;
    border-color: $decoration-normal;
    color: $foreground-normal;
    -webkit-box-shadow: none;
    box-shadow: none;

    &:hover,
    &.select2-search-choice-focus {
      background-color: $background-normal;
      border-color: $decoration-active;
      color: $foreground-normal;
    }
  }

  .select2-choices .select2-search-field input {
    color: $foreground-normal;

    &.select2-active {
      background-color: $background-dark !important;
    }
  }
}

.select2-container {

  .select2-choices {
    background-color: $background-dark;
    color: $foreground-normal;
    border-color: $decoration-normal;

    .select2-search-field {
      background: $background-dark;
    }

    .select2-input {
      background: $background-dark;
    }
  }

  .select2-choices .select2-search-choice {
    background-color: $background-normal;
    border-color: $decoration-normal;
    color: $foreground-normal;
    -webkit-box-shadow: none;
    box-shadow: none;

    &:hover,
    &.select2-search-choice-focus {
      background-color: $background-normal;
      border-color: $decoration-active;
    }
  }

  .select2-choice {
    background: $background-dark;
    border-color: $decoration-normal;
    color: $foreground-normal !important;
  }
}

#select2-drop, .select2-drop {
  color: $foreground-normal;

  .select2-search {
    background-color: $background-dark !important;
  }

  .select2-results {

    .select2-result,
    .select2-no-results,
    .select2-searching {
      background-color: $background-dark;
      color: $foreground-normal;
    }

    .select2-result.select2-selected {
      background-color: $background-dark;
    }

    .select2-highlighted, .select2-result.select2-highlighted {
      background-color: $background-active-hover;
      color: $foreground-normal;
    }
  }
}

.select2-dropdown-open .select2-choice {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.activitysubject strong.systemtag {
  background-color: $background-dark;
  border: 1px solid $decoration-normal;
}

/* Auto suggestion users in comments dropdown ------------------------------- */

.atwho-view {
  box-shadow: none;

  .cur {
    background: $background-active-hover;
  }
}

/* UI Widget ---------------------------------------------------------------- */
// Used by datepicker, timepicker and others

.ui-dialog {

  .ui-dialog-content {
    background-color: $background-normal;
  }

  .ui-dialog-buttonpane {
    background-color: $background-normal;
  }
}

.ui-dialog-titlebar {

  &.ui-widget-header {
    background-color: $background-normal;
    color: $foreground-normal;

    .ui-dialog-titlebar-close {

      .ui-icon-closethick {
        background-image: url('../../core/img/actions/close.svg');
      }
    }
  }
}

.ui-widget-content {
  background: $background-normal;
  border: 1px solid $decoration-normal;
  color: $foreground-normal;
}

.ui-widget-header {
  background: inherit;
  color: $foreground-normal;
  border: none;
}

// Datepicker
.ui-widget.ui-datepicker {
  filter: none;
  border: 1px solid $decoration-normal;
  background-color: $background-normal;

  &::after {
    border-bottom-color: $decoration-normal;
  }

  .ui-widget-header {
    background-color: $background-normal;
    color: $foreground-normal;

    .ui-icon {
      opacity: 1;
    }

    .ui-datepicker-prev, .ui-datepicker-next {
      border-color: $decoration-normal;
      background: $background-normal;
    }
  }

  .ui-datepicker-calendar {

    th {
      color: $foreground-normal;
      opacity: 0.7;
    }

    tr td > * {
      color: $foreground-normal;
    }

    td .ui-priority-secondary:not(.ui-state-hover) {
      color: $foreground-inactive;
      opacity: 0.5;
    }

    td.ui-datepicker-week-end:not(.ui-state-disabled) :not(.ui-state-hover):not(.ui-state-active) {
      color: $background-active;
      opacity: 1;
    }

    td.ui-datepicker-week-end:not(.ui-state-disabled) .ui-priority-secondary:not(.ui-state-hover) {
      color: $background-active;
      opacity: 0.7;
    }

    td.ui-datepicker-current-day:not(.ui-state-disabled) a.ui-state-active, td .ui-state-hover,
    td .ui-state-focus {
      background-color: $background-active;
      color: $foreground-active;
    }

    td.ui-datepicker-today a:not(.ui-state-hover) {
      background-color: $background-alternate;
    }
  }
}

// Timepicker
.ui-widget.ui-timepicker {
  filter: none;
  background-color: $background-normal;
  border: 1px solid $decoration-normal;

  .ui-widget-content {
    background-color: $background-normal;
  }

  &::after {
    border-bottom-color: $decoration-normal;
  }

  .ui-widget-header {
    background-color: $background-normal;
    color: $foreground-normal;
  }

  table.ui-timepicker tr td > * {
    color: $foreground-normal;
  }

  .ui-timepicker-table {

    th {
      color: $foreground-inactive;
      opacity: 0.7%;
    }

    td {

      > * {
        color: $foreground-normal;
      }

      &.ui-timepicker-hours {
        border-right-color: $decoration-normal;
      }

      &.ui-timepicker-hour-cell a.ui-state-active,
      &.ui-timepicker-minute-cell a.ui-state-active,
      .ui-state-hover,
      .ui-state-focus {
        background-color: $background-active;
        color: $foreground-active;
      }
    }
  }
}

.ui-widget.ui-timepicker .ui-timepicker-table th
#app-sidebar div.content-wrapper .body .section input.focus {
  background-color: $background-dark;
  border: 1px solid $decoration-normal;
  box-shadow: none;
}

/* Tooltips ----------------------------------------------------------------- */

.tooltip {
  filter: none;

  &.right .tooltip-arrow {
    border-right-color: $decoration-normal;
  }

  &.left .tooltip-arrow {
    border-left-color: $decoration-normal;
  }

  &.top .tooltip-arrow,
  &.top-left .tooltip-arrow,
  &.top-right .tooltip-arrow {
    border-top-color: $decoration-normal;
  }

  &.bottom .tooltip-arrow,
  &.bottom-left .tooltip-arrow,
  &.bottom-right .tooltip-arrow {
    border-bottom-color: $decoration-normal;
  }
}

.tooltip-inner {
  background-color: $background-normal;
  color: $foreground-normal;
  box-shadow: none;
  border: 1px solid $decoration-normal !important;
  padding: 10px;
}

#adminaccount .tooltip-inner {
  background-color: transparent;
  border: none;
}

// Fix for tooltip arrow not being aligned in contacts dropdown
.contact .tooltip .tooltip-arrow {
  right: -4px;
}

a {
  opacity: 1 !important;
}

#select2-drop .select2-search, .select2-drop .select2-search {
  background-color: #ffffff !important;
}

.select2-container .select2-choice,
.select2-results .select2-result, .select2-drop .select2-results .select2-no-results, .select2-drop .select2-results .select2-searching {
  background-color: #ffffff !important;
  color: black;
}

select.primary:not(:disabled), button.primary:not(:disabled), .button.primary:not(:disabled) {
  background: $background-active-alternate !important;
}

select.primary:not(:disabled), button.primary:not(:disabled), .button.primary:not(:disabled), input[type=submit].primary:not(:disabled), input[type=button].primary:not(:disabled) {
  border-color: #e7e7e7;
  background: $background-active-alternate !important;
  color: black;
}

/*******************SETTINGS PAGE ******************
/*******************SETTINGS PAGE ******************
/*******************SETTINGS PAGE ******************
/*******************SETTINGS PAGE ******************
/*******************SETTINGS PAGE ****************** */

#personal-settings .personal-info[class^='icon-'], #personal-settings .personal-info[class*=' icon-'] {
  background-size: 21px !important;
}

#body-public {
  .logo-icon {
    width: 50% !important;
  }
  @media only screen and (max-width: 550px) {
    .header-shared-by {
      margin-left: 190px;
    }
  }
  .header-appname {
    margin-left: 290px;
  }
  .header-secondary-action .icon-more-white {
    background-size: 16px 16px;
  }
}

.followupsection {
  display: none !important;
}

#save-external-share {
  .icon-external {
    padding-top: 5px;
    padding-bottom: 5px;

  }
  .icon-external:after {
    content: 'Add to your CloudDesktop';
  }
  label {
    position: absolute;
    left: 40px;
    opacity: 0;
  }

  #remote_address::placeholder {
    opacity: 0;
  }
  #remote_address {
    position: absolute;
    left: 37px;
    padding-top: 13px;
    width: 83%;
  }
  #save-button-confirm {
    position: absolute;
    left: 87%;
  }
}

#header-secondary-action {
  #header-actions-menu {
    ul {
      min-height: 159px;
    }
  }
}

.app-files_sharing + footer p:nth-child(2) {
  display: none;
}

.app-spreed {
  button.join-call.primary {
    background-color: $background-active-alternate !important;
  }
  #spreedme-room-list {
    ul > li > a, li > a {
      font-weight: bold !important;
      background-color: transparent !important;
      &:hover, &:hover + div.app-navigation-entry-utils {
        background-color: transparent !important;
      }
      &.active:hover {
        background-color: transparent !important;
      }
    }
    > li {
      width: 95% !important;
      font-weight: bold !important;
      margin-bottom: 4px;
    }

    :hover {
      box-shadow: none !important;
      border-radius: 150px;
      border: 0 solid #a5dec3;
      margin-left: 10px;
      margin-right: 5px;
      background-color: $background-active;
      > a {
        box-shadow: none !important;
        color: $foreground-active;
        font-weight: bolder;
      }
    }
  }
  #spreedme-room-list {
    .avatar {
      background-color: transparent;
    }

    .icon-contacts {
      background-size: 23px;
      background-color: transparent;
    }
  }

  .share-link-options {
    //.icon-no-password,
    .icon-clippy {
      background-size: 20px 20px;
    }
  }
}

.crumb.svg {
  .shared.icon-public, .icon-shared {
    background-size: contain;
  }
}

#controls, .select2-choices,
.select2-choices .select2-search-field {
  background-color: $background-normal !important;
  color: $foreground-normal !important;
  border-color: $background-alternate !important;
  .select2-search-field .select2-input {
    background-color: $background-normal !important;
    color: $foreground-normal !important;
  }
}

.app-files_sharing ~ div.oc-dialog {
  .oc-dialog-close {
    position: absolute;
    background-position-x: 98%;
    background-position-y: 20px;
  }
  .oc-dialog-close:before {
    content: "Failed to add the public link to your CloudDesktop";
    background: var(--color-main-background);
    margin-left: -20px;
    color: black;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 12px;
    line-height: 140%;
    display: block;
    position: relative;
    left: -105px;
    top: -15px;
  }
  .oc-dialog-title {
    opacity: 0 !important;
  }
}