body {
  color: $foreground-normal;
  background-color: $background-normal;
}

a {
  color: $foreground-link;

  &:hover, &:focus {
    color: $foreground-link;
  }

  &.button:hover, &.button:focus {
    color: $foreground-normal;
  }
}

em {
  opacity: 1;
}

h1, h2, h3 {
  color: $foreground-active;
  font-weight: 600;
}

h4, h5, h6 {
  color: $foreground-normal;
}

// Tables

table {

  tr {
    background-color: $background-normal;
  }

  tr:hover, tr:focus {
    background-color: $background-active-hover;
  }

  tr:active {
    background-color: inherit;
  }

  th a, a {
    color: $foreground-normal;

    &:hover, &:focus {
      color: $foreground-normal;
    }
  }

  td {
    border-bottom-color: $decoration-normal;
  }

  thead {

    th {
      color: $foreground-normal;
      border-bottom: 1px solid $decoration-normal;
      background-color: $background-normal;
    }
  }
}

table.grid th, table.grid td {
  border-bottom-color: $decoration-normal;
}

// Input Fields

input.radio[type="checkbox"],
input.radio[type="radio"],
input.checkbox[type="checkbox"],
input.checkbox[type="radio"] {
  &:checked + label::before, &:indeterminate + label::before {
    background-color: $background-active-alternate;
    border-color: $background-active-alternate;
  }
}

input:not([type="range"]),
textarea,
div[contenteditable="true"],
.pager li a {
  background-color: $background-normal;
  color: $foreground-inactive;
  border: 1px solid $decoration-normal;

  &:not(:disabled):not(.primary) {

    &:not(#quota):hover {
      border-color: $decoration-active;
    }

    &:focus, &:active {
      background-color: $background-normal;
      border-color: $decoration-active;
    }

    &.active {
      border-color: $decoration-active;
    }
  }

  &:not(:disabled) {

    &:hover {
      background-color: $background-normal;
      border-color: $decoration-active;
    }
  }

  &:disabled {
    background-color: $background-alternate;
    color: $foreground-inactive;
    opacity: 1;

    &:hover, &:focus, &:active {
      border-color: $decoration-normal;
    }
  }
}

div[contenteditable="true"]:not(:disabled) {

  &:hover, &:active, &:focus {
    background-color: $background-normal !important;
    border-color: $decoration-active !important;
  }
}

textarea {
  &:active, &:hover, &:focus {
    &:not(:disabled) {
      border-color: $decoration-active !important;
      background-color: $background-normal !important;
    }
  }
}

select,
.select2-container .select2-choices,
button,
.button,
input[type="submit"],
input[type="button"] {
  background-color: $background-normal;
  border: 1px solid $decoration-normal;
  color: $foreground-normal;

  &:not(:disabled):not(.primary):not(#quota) {

    &:hover {
      border-color: $decoration-active;
    }

    &:focus &:active {
      background-color: $background-active;
      border-color: $decoration-active;
    }

    &.active {
      background-color: $background-active-alternate;
      border-color: $decoration-active;
    }
  }

  &:disabled {
    background-color: $background-alternate;
    color: $foreground-inactive;
    opacity: 1;

    &:hover, &:focus, &:active {
      background-color: $background-alternate;
      border-color: $decoration-normal;
    }
  }

  &.primary {
    &:not(:disabled) {
      border-color: $decoration-normal;
      background-color: $background-active-alternate;
      color: $foreground-active;

      &:hover {
        border-color: $button-decoration-active;
        background-color: $background-active-hover;
      }

      &:focus, &:active {
        background-color: $background-active;
        border-color: $decoration-active;
      }
    }

    &:disabled {
      background-color: $background-alternate;
      color: $decoration-normal;
      border-color: $decoration-normal;

      &:hover, &:focus, &:active {
        background-color: $background-alternate;
        color: $foreground-inactive;
        border-color: $decoration-normal;
      }
    }
  }
}

/* jQuery UI Fixes ---------------------------------------------------------- */

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  border-color: $decoration-normal;
  background: none;
  background-color: $background-normal;
  font-weight: bold;
  color: $foreground-normal;
}

.ui-tabs .ui-tabs-nav .ui-state-default {
  background-color: $background-normal;
  border-bottom-color: $decoration-active;

  a {
    color: $foreground-normal;
  }
}

.ui-tabs .ui-tabs-nav .ui-state-hover {
  background-color: $background-active-hover;
  border-bottom-color: $decoration-active;

  a:hover {
    color: $foreground-normal;
  }
}

.ui-tabs .ui-tabs-nav .ui-state-active {
  background-color: $background-active-alternate;
  border-bottom-color: $decoration-active;

  a, a:link {
    color: $foreground-active;
  }
}

.ui-state-default.ui-state-disabled {
  background-color: $background-alternate;
  opacity: 0.5;

  a {
    color: $foreground-normal;
  }
}

ul.ui-tabs-nav .ui-tabs-active,
ul.ui-tabs-nav .ui-tabs-active > a {
  background-color: $background-active-hover;
  color: $foreground-active;
  border-bottom-color: $decoration-active;
}

.ui-accordion {

  .ui-accordion-header {
    background-color: $background-dark;
  }

  .ui-accordion-content {
    background-color: $background-normal;
  }
}

/* General nextcloud -------------------------------------------------------- */

.preview {
  filter: none;
}

.dropdown {
  background-color: $background-normal;
  box-shadow: none;
  border: 1px solid $decoration-normal;
}

progress {
  background-color: #f4f4f4;
}

progress::-webkit-progress-value {
  background-color: #ec5757;

}

progress::-moz-progress-bar {
  background-color: #ec5757;
}