/*
=============================================================================
* Nextcloud breeze dark theme
* Version: 14.0.2
* Check it out at https://github.com/mwalbeck/nextcloud-breeze-dark
=============================================================================
*/
/* 
 * 
 * All the colours for the Nextcloud Breeze Dark Theme.
 *
*/
/* Default Colors */
/* Buttons */
/* Input */
/*
 Default white for icons: rgba(242, 242, 242, 1)
*/
/* Set the nextcloud color variables */
:root {
  --color-primary: #98cb53;
  --color-main-background: white;
  --color-background-dark: #fafafa;
  --color-background-darker: #4d4d4d;
  --color-main-text: black;
  --color-text-light: black;
  --color-text-lighter: rgba(0, 0, 0, 0.5);
  --color-text-maxcontrast: black;
  --color-border: #e7e7e7;
  --color-border-dark: #e7e7e7;
  --color-primary-element: #43b749;
  --color-error: #da4453;
  --color-warning: #f67400;
  --color-success: #27ae60;
}

input, label {
  --color-checkbox-radio-border: #e7e7e7;
  --color-checkbox-radio-disabled: #4d4d4d;
}

/* Password ----------------------------------------------------------------- */
.icon-password,
.nav-icon-second-factor-backup-codes,
.nav-icon-apppasswords,
.nav-icon-ransomware-protection {
  background-image: url("../img/actions/password.svg?v=1");
}

/* Home --------------------------------------------------------------------- */
.icon-home,
.icon-inbox,
#oc-dialog-filepicker-content .dirtree div:first-child a {
  background-image: url("../img/Home-icon.svg?v=1");
}

/* Star --------------------------------------------------------------------- */
.icon-flagged,
.icon-star-dark,
.nav-icon-favorites {
  background-image: url("../img/Favorites-icon-hover.svg?v=1");
}

.icon-star,
.icon-starred:hover,
.icon-starred:focus,
.icon-stationfav {
  background-image: url("../img/actions/Star.svg?v=1");
  opacity: 0.5;
}

/* Starred ------------------------------------------------------------------ */
.icon-starred,
.icon-star:hover,
.icon-star:focus,
.app-news #app-navigation .icon-starred {
  background-image: url("../img/actions/starred.svg?v=1");
  opacity: 1;
}

/* Rename ------------------------------------------------------------------- */
.icon-rename,
.icon-drafts {
  background-image: url("../img/actions/rename.svg?v=1");
}

/* Error -------------------------------------------------------------------- */
.icon-junk {
  background-image: url("../img/actions/error.svg");
}

/* Delete ------------------------------------------------------------------- */
.icon-delete {
  background-image: url("../img/Deleted files-icon-hover.svg?v=1");
}

.icon-trash,
.nav-icon-trashbin,
.nav-icon-drop-account {
  background-image: url("../img/Deleted files-icon-hover.svg?v=1");
}

/* Checkmark ---------------------------------------------------------------- */
.icon-checkmark,
.icon-sent,
.icon-category-enabled,
.multiselect.multiselect-vue .multiselect__content-wrapper li > span::before {
  background-image: url("../img/actions/checkmark.svg?v=1");
}

/* History ------------------------------------------------------------------ */
.icon-history,
#app-navigation .icon-updatemode-default {
  background-image: url("../img/actions/history.svg?v=1");
}

#app-navigation .icon-updatemode-unread {
  background-image: url("../img/actions/history.svg");
  opacity: 0.25;
}

/* External ----------------------------------------------------------------- */
.nav-icon-extstoragemounts,
.nav-icon-external-storage,
.icon-external {
  background-image: url("../img/Copy-icon-hover.svg?v=1");
}

/* Public ------------------------------------------------------------------- */
.icon-public,
.nav-icon-sharinglinks {
  background-image: url("../img/Link-greengradient-icon-hover.svg?v=1");
}

/* Share -------------------------------------------------------------------- */
.icon-share,
.icon-shared,
.nav-icon-federated-cloud,
.nav-icon-sharingin,
.nav-icon-sharingout,
.nav-icon-shareoverview {
  background-image: url("../img/File shares-icon-hover.svg?v=1");
}

/* Unshare ------------------------------------------------------------------ */
.nav-icon-deletedshares {
  background-image: url("../img/UnShare-greengradient-icon-hover.svg?v=1");
}

/* Phone -------------------------------------------------------------------- */
.icon-phone {
  background-image: url("../img/clients/phone.svg");
}

/* Tablet ------------------------------------------------------------------- */
.icon-tablet {
  background-image: url("../img/clients/tablet.svg");
}

/* Desktop ------------------------------------------------------------------ */
.icon-desktop {
  background-image: url("../img/clients/desktop.svg");
}

/* Tag ---------------------------------------------------------------------- */
.icon-tag,
.nav-icon-systemtagsfilter {
  background-image: url("../img/Tags-icon-hover.svg?v=1");
}

/* Link/World --------------------------------------------------------------------- */
.icon-link,
.icon-world {
  background-image: url("../img/Link-greengradient-icon-hover.svg?v=1");
}

/* Toggle ------------------------------------------------------------------- */
.icon-toggle,
#show + label,
#dbpassword-toggle + label,
#personal-show + label {
  background-image: url("../img/actions/toggle.svg?v=1");
}

/* Toggle Filelist ---------------------------------------------------------- */
.nav-icon-sessions {
  background-image: url("../img/actions/toggle-filelist.svg?v=1");
}

/* Toggle Pictures ---------------------------------------------------------- */
.icon-toggle-pictures,
#albenoverview li {
  background-image: url("../img/actions/toggle-pictures.svg");
}

/* Settings ----------------------------------------------------------------- */
.settings-button,
.icon-settings,
.icon-settings-dark,
.icon-category-tools,
#app-navigation .music-nav-settings a {
  background-size: 20px 20px;
  background-image: url("../img/Settings-icon-hover.svg?v=1");
}

/* Add ---------------------------------------------------------------------- */
.icon-add {
  background-image: url("../img/Add-icon-hover.svg?v=1");
}

/* Upload ------------------------------------------------------------------- */
.icon-upload {
  background-image: url("../img/Upload-large-icon.svg?v=1");
}

/* More --------------------------------------------------------------------- */
.icon-more,
.icon-more-white,
.icon-more.icon-white,
#app-navigation .app-navigation-entry-utils .app-navigation-entry-utils-menu-button button:not([class^=icon-]):not([class*=" icon-"]) {
  background-image: url("../img/More-icon-hover.svg?v=1");
}

/* Files -------------------------------------------------------------------- */
.icon-category-files,
.icon-files-dark,
.nav-icon-files {
  background-image: url("../img/Files-icon-hover.svg?v=1");
}

/* Download ----------------------------------------------------------------- */
.icon-download,
.icon-category-updates {
  background-image: url("../img/Download-brown-icon.svg?v=1");
}

/* Triangle-N --------------------------------------------------------------- */
.icon-triangle-n {
  background-image: url("../img/actions/triangle-n.svg?v=1");
}

/* Triangle-S --------------------------------------------------------------- */
.icon-triangle-s,
#app-navigation .collapsible::before {
  background-image: url("../img/actions/triangle-s.svg?v=1");
}

select {
  background: url("../img/actions/triangle-s.svg") no-repeat right 8px center;
}

.select2-container .select2-choice .select2-arrow b {
  background: url("../img/actions/triangle-s.svg") no-repeat center !important;
}

/* Details ------------------------------------------------------------------ */
.icon-details {
  background-image: url("../img/actions/details.svg?v=1");
}

/* Contacts ----------------------------------------------------------------- */
.icon-contacts-dark, .icon-contacts {
  background-image: url("../img/Contacts-icon-hover.svg?v=1");
}

/* Info --------------------------------------------------------------------- */
.icon-info {
  background-image: url("../img/actions/details.svg?v=1");
  opacity: 0.5;
}

/* Help --------------------------------------------------------------------- */
.icon-help {
  background-image: url("../img/help.svg");
}

/* Clippy ------------------------------------------------------------------- */
.icon-clippy {
  background-image: url("../img/actions/clippy.svg?v=2");
  opacity: 0.5;
}

/* Comment ------------------------------------------------------------------ */
.icon-comment {
  background-image: url("../img/actions/Comment-icon-hover.svg?v=1");
}

/* Confirm ------------------------------------------------------------------ */
.icon-confirm,
input[type=text] + .icon-confirm:disabled,
input[type=password] + .icon-confirm:disabled,
input[type=email] + .icon-confirm:disabled {
  background-image: url("../img/actions/confirm.svg?v=2");
}

/* Search ------------------------------------------------------------------- */
.icon-search,
.icon-search-white, .icon-search.icon-white,
.icon-category-search {
  background-size: 20px 20px;
  background-image: url("../img/Search-icon-hover.svg?v=1");
}

header li[data-id$=worldposta] {
  display: none;
}
header li[data-id$=gallery] {
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../img/Gallery-icon-hover.svg?v=1");
}
header li[data-id$=gallery] svg {
  display: none;
}
header li[data-id$=files] {
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../img/Files-icon-hover.svg?v=1");
}
header li[data-id$=files] svg {
  display: none;
}
header .avatardiv-shown {
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../img/Avatar-icon-hover.svg?v=1");
}
header .avatardiv-shown img {
  display: none;
}
header #expanddiv li[data-id$=settings] a {
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position-x: 5px;
  padding-left: 27px;
  background-position-y: center;
  background-image: url("../img/Settings-icon-hover.svg?v=1");
}
header #expanddiv li[data-id$=settings] a img {
  display: none;
}
header #expanddiv li[data-id$=core_apps] a {
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position-x: 5px;
  padding-left: 27px;
  background-position-y: center;
  background-image: url("../img/Add-icon-hover.svg?v=1");
}
header #expanddiv li[data-id$=core_apps] a img {
  display: none;
}
header #expanddiv li[data-id$=core_users] a {
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position-x: 5px;
  padding-left: 27px;
  background-position-y: center;
  background-image: url("../img/Avatar-icon-hover.svg?v=1");
}
header #expanddiv li[data-id$=core_users] a img {
  display: none;
}

.select2-drop .select2-search input {
  background: url("../img/Search-icon.svg") no-repeat right center !important;
  background-origin: content-box !important;
}
.select2-drop .select2-search input:hover, .select2-drop .select2-search input:focus {
  background: url("../img/Search-icon.svg") no-repeat right center !important;
}

/* Recent ------------------------------------------------------------------- */
.nav-icon-recent {
  background-image: url("../img/Recent-icon-hover.svg?v=1");
}

/* Caret -------------------------------------------------------------------- */
.icon-caret-dark {
  background-image: url("../img/actions/caret.svg?v=1");
}

/* RSS ---------------------------------------------------------------------- */
.icon-rss {
  background-image: url("../img/actions/rss.svg") !important;
}

/* Close -------------------------------------------------------------------- */
.icon-close,
.icon-category-disabled {
  background-image: url("../img/actions/close.svg?v=1");
}

.oc-dialog-close {
  background: url("../img/actions/close.svg") no-repeat center;
}

/* Close (no shadow) -------------------------------------------------------- */
.icon-category-disabled,
#newPlaylistBtn_cancel.icon-close {
  background-image: url("../img/actions/close-ns.svg");
}

/* View Close --------------------------------------------------------------- */
.icon-view-close {
  background-image: url("../img/actions/view-close.svg");
}

/* Menu --------------------------------------------------------------------- */
.icon-menu {
  background-image: url("../img/actions/menu.svg?v=1");
}

/* User --------------------------------------------------------------------- */
.icon-user,
.nav-icon-personal-settings,
.icon-category-installed {
  background-image: url("../img/actions/user.svg?v=1");
}

/* User admin --------------------------------------------------------------- */
.icon-user-admin {
  background-image: url("../img/actions/user-admin.svg?v=1");
}

/* Right Arrow -------------------------------------------------------------- */
.icon-view-next {
  background-image: url("../img/actions/arrow-right.svg");
}

/* Left Arrow _-------------------------------------------------------------- */
.icon-view-previous {
  background-image: url("../img/actions/arrow-left.svg");
}

/* Right Arrow Big ---------------------------------------------------------- */
.glyphicon-chevron-right,
.ui-widget.ui-datepicker .ui-widget-header .ui-icon.ui-icon-circle-triangle-e {
  background: url("../img/rightarrow.svg") center center no-repeat;
}

/* Left Arrow Big--------------------------------------------------------------- */
.glyphicon-chevron-left,
.ui-widget.ui-datepicker .ui-widget-header .ui-icon.ui-icon-circle-triangle-w {
  background: url("../img/leftarrow.svg") center center no-repeat;
}

/* Change ------------------------------------------------------------------- */
.nav-icon-clientsbox {
  background-image: url("../img/change.svg?v=1");
}

/* Edit --------------------------------------------------------------------- */
.icon-edit {
  background-image: url("../img/actions/edit.svg?v=1");
}

/* Quota -------------------------------------------------------------------- */
.icon-quota {
  background-image: url("../img/Quota-icon-hover.svg?v=1");
}

/* Mail --------------------------------------------------------------------- */
.icon-mail,
.icon-social-email {
  background-image: url("../img/email.svg");
}

/* Calendar ----------------------------------------------------------------- */
.icon-badge,
.icon-calendar-dark {
  background-image: url("../img/Calendar-icon-hover.svg");
}

/* Play --------------------------------------------------------------------- */
.icon-play {
  background-image: url("../img/actions/play.svg");
}

/* pause --------------------------------------------------------------------- */
.icon-pause {
  background-image: url("../img/actions/pause.svg");
}

/* Play Big ----------------------------------------------------------------- */
.app-music .current.playing .play-pause,
.app-music div:hover > .play-pause,
.app-music #app-view .current:not(.playing) div:hover .play-pause,
.app-music #app-navigation .current:not(.playing) :hover .play-pause, #music-controls .current.playing .play-pause,
#music-controls div:hover > .play-pause,
#music-controls #app-view .current:not(.playing) div:hover .play-pause,
#music-controls #app-navigation .current:not(.playing) :hover .play-pause {
  background-image: url("../img/actions/play-big.svg");
}

/* User Plus ---------------------------------------------------------------- */
.icon-add-user {
  background-image: url("../img/actions/user-plus.svg") !important;
}

/* Pause Big ---------------------------------------------------------------- */
.current:not(.playing) .play-pause,
#app-view .current.playing div:hover .play-pause,
#app-navigation .current.playing :hover .play-pause {
  background-image: url("../img/actions/pause-big.svg");
}

/* Fullscreen --------------------------------------------------------------- */
.icon-fullscreen {
  background-image: url("../img/actions/fullscreen.svg");
}

/* Video -------------------------------------------------------------------- */
.icon-video,
.icon-video-white {
  background-image: url("../img/actions/video.svg");
}

/* Video off ---------------------------------------------------------------- */
.icon-video-off,
.icon-video-off-white {
  background-image: url("../img/actions/video-off.svg");
}

/* Audio -------------------------------------------------------------------- */
.icon-audio,
.icon-audio-white {
  background-image: url("../img/actions/audio.svg");
}

/* Audio off ---------------------------------------------------------------- */
.icon-audio-off,
.icon-audio-off-white {
  background-image: url("../img/actions/audio-off.svg");
}

/* Screen ------------------------------------------------------------------- */
.icon-screen,
.icon-screen-white {
  background-image: url("../img/actions/screen.svg");
}

/* Screen off --------------------------------------------------------------- */
.icon-screen-off,
.icon-screen-off-white {
  background-image: url("../img/actions/screen-off.svg");
}

/* Address ------------------------------------------------------------------ */
.icon-address {
  background-image: url("../img/actions/address.svg");
}

/* App Categories ----------------------------------------------------------- */
.icon-category-app-bundles {
  background-image: url("../img/categories/bundles.svg?v=1");
}

.icon-category-customization {
  background-image: url("../img/categories/customization.svg?v=1");
}

.icon-category-games {
  background-image: url("../img/categories/games.svg?v=1");
}

.icon-category-integration {
  background-image: url("../img/categories/integration.svg?v=1");
}

.icon-category-monitoring {
  background-image: url("../img/categories/monitoring.svg?v=1");
}

.icon-category-multimedia {
  background-image: url("../img/categories/multimedia.svg?v=1");
}

.icon-category-office {
  background-image: url("../img/categories/office.svg?v=1");
}

.icon-category-organization {
  background-image: url("../img/categories/organization.svg?v=1");
}

.icon-category-security {
  background-image: url("../img/actions/password.svg?v=1");
}

.icon-category-social {
  background-image: url("../img/categories/social.svg?v=1");
}

/* Activity App ------------------------------------------------------------- */
.icon-activity,
.nav-icon-activity {
  background-image: url("../img/Activity-icon-hover.svg?v=1");
}

/* Calendar App ------------------------------------------------------------- */
.icon-timezone {
  background: url("../img/actions/timezone.svg") center center no-repeat;
}

/* Deck App ----------------------------------------------------------------- */
.icon-deck {
  background: url("../img/deck.svg");
}

/* News App ----------------------------------------------------------------- */
.icon-unpinned,
#app-navigation .icon-unpinned {
  background-image: url("../img/actions/unpinned.svg");
}

.icon-pinned,
#app-navigation .icon-pinned {
  background-image: url("../img/actions/pinned.svg");
}

.icon-full-text-enabled {
  background-image: url("../img/actions/fulltext.svg");
}

.icon-full-text-disabled {
  background-image: url("../img/actions/nonfulltext.svg");
}

/* Annoucement Center App --------------------------------------------------- */
.icon-announcement {
  background-image: url("../img/places/announcementcenter.svg");
}

/* Audio player App --------------------------------------------------------- */
.sm2-inline-button.play-pause,
.sm2-inline-button.play-pause:hover,
.paused.sm2-inline-button.play-pause:hover {
  background-image: none, url("../img/bar-ui/play.svg");
}

.playing .sm2-inline-button.play-pause {
  background-image: none, url("../img/bar-ui/pause.svg");
}

.sm2-inline-button.previous {
  background-image: none, url("../img/bar-ui/previous.svg");
}

.sm2-inline-button.next {
  background-image: none, url("../img/bar-ui/next.svg");
}

.sm2-inline-button.repeat {
  background-image: none, url("../img/bar-ui/repeat.svg");
}

.sm2-inline-button.shuffle {
  background-image: none, url("../img/bar-ui/shuffle.svg");
}

.sm2-inline-button.sm2-volume-control,
.sm2-inline-button.sm2-volume-control.volume-shade {
  background-image: none, url("../img/bar-ui/volume.svg");
}

/* Mail App ----------------------------------------------------------------- */
.icon-reply {
  background-image: url("../img/mail/reply.svg");
}

.icon-archive {
  background-image: url("../img/mail/archive.svg");
}

/* Music App ---------------------------------------------------------------- */
.nav-icon-music {
  background-image: url("../img/places/music.svg");
}

/* Social Sharing App ------------------------------------------------------- */
.social-facebook,
.icon-social-facebook {
  background-image: url("../img/social/facebook.svg");
}

.social-twitter,
.icon-social-twitter {
  background-image: url("../img/social/twitter.svg");
}

.social-googleplus,
.icon-social-googleplus {
  background-image: url("../img/social/googleplus.svg");
}

.social-diaspora,
.icon-social-diaspora {
  background-image: url("../img/social/diaspora.svg");
}

/* Two Factor Apps ---------------------------------------------------------- */
.nav-icon-totp-second-factor-auth {
  background-image: url("../img/twofactor-totp.svg?v=1");
}

.icon-u2f-device,
.nav-icon-u2f-second-factor-auth {
  background-image: url("../img/twofactor-u2f.svg?v=1");
}

/* FullTextSearch ----------------------------------------------------------- */
div.icon-fulltextsearch-white {
  background-image: url("../img/Search-icon.svg");
}

.icon-folder {
  background-image: url("../img/Folder-icon.svg?v=1") !important;
}

.icon-filetype-text {
  background-image: url("../img/TXT.svg?v=1");
}

/* CSS tricks to change icon color ------------------------------------------ */
#settings #expanddiv ul li a img {
  width: 16px;
  height: 16px;
}

#body-login {
  background-image: url("../img/loginbg.jpg") !important;
}

fieldset {
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 271px;
  background-image: url("../img/loginborders.jpg") !important;
}
fieldset #user {
  border: none;
  background: transparent;
  font-size: 13px;
  padding-left: 42px;
  margin-top: 5px;
}
fieldset #password {
  background: transparent;
  font-size: 13px;
  padding-left: 37px;
  margin-top: 37px !important;
  border: none !important;
}
fieldset #submit {
  background: transparent;
  border: none;
  margin-top: 30px;
  font-size: 12px;
  color: #75c64c;
}
fieldset #submit-wrapper .submit-icon {
  top: 40px !important;
  right: 48px !important;
}
fieldset .lost-password-container #lost-password {
  color: black !important;
  margin-top: 9px !important;
  margin-left: 12px !important;
}
fieldset .wrongPasswordMsg {
  position: absolute;
  width: 100%;
  text-align: center;
  top: -60px;
}

body {
  color: black;
  background-color: white;
}

a {
  color: #57cb65;
}
a:hover, a:focus {
  color: #57cb65;
}
a.button:hover, a.button:focus {
  color: black;
}

em {
  opacity: 1;
}

h1, h2, h3 {
  color: black;
  font-weight: 600;
}

h4, h5, h6 {
  color: black;
}

table tr {
  background-color: white;
}
table tr:hover, table tr:focus {
  background-color: #fafafa;
}
table tr:active {
  background-color: inherit;
}
table th a, table a {
  color: black;
}
table th a:hover, table th a:focus, table a:hover, table a:focus {
  color: black;
}
table td {
  border-bottom-color: #e7e7e7;
}
table thead th {
  color: black;
  border-bottom: 1px solid #e7e7e7;
  background-color: white;
}

table.grid th, table.grid td {
  border-bottom-color: #e7e7e7;
}

input.radio[type=checkbox]:checked + label::before, input.radio[type=checkbox]:indeterminate + label::before,
input.radio[type=radio]:checked + label::before,
input.radio[type=radio]:indeterminate + label::before,
input.checkbox[type=checkbox]:checked + label::before,
input.checkbox[type=checkbox]:indeterminate + label::before,
input.checkbox[type=radio]:checked + label::before,
input.checkbox[type=radio]:indeterminate + label::before {
  background-color: #98cb53;
  border-color: #98cb53;
}

input:not([type=range]),
textarea,
div[contenteditable=true],
.pager li a {
  background-color: white;
  color: rgba(0, 0, 0, 0.5);
  border: 1px solid #e7e7e7;
}
input:not([type=range]):not(:disabled):not(.primary):not(#quota):hover,
textarea:not(:disabled):not(.primary):not(#quota):hover,
div[contenteditable=true]:not(:disabled):not(.primary):not(#quota):hover,
.pager li a:not(:disabled):not(.primary):not(#quota):hover {
  border-color: #43b749;
}
input:not([type=range]):not(:disabled):not(.primary):focus, input:not([type=range]):not(:disabled):not(.primary):active,
textarea:not(:disabled):not(.primary):focus,
textarea:not(:disabled):not(.primary):active,
div[contenteditable=true]:not(:disabled):not(.primary):focus,
div[contenteditable=true]:not(:disabled):not(.primary):active,
.pager li a:not(:disabled):not(.primary):focus,
.pager li a:not(:disabled):not(.primary):active {
  background-color: white;
  border-color: #43b749;
}
input:not([type=range]):not(:disabled):not(.primary).active,
textarea:not(:disabled):not(.primary).active,
div[contenteditable=true]:not(:disabled):not(.primary).active,
.pager li a:not(:disabled):not(.primary).active {
  border-color: #43b749;
}
input:not([type=range]):not(:disabled):hover,
textarea:not(:disabled):hover,
div[contenteditable=true]:not(:disabled):hover,
.pager li a:not(:disabled):hover {
  background-color: white;
  border-color: #43b749;
}
input:not([type=range]):disabled,
textarea:disabled,
div[contenteditable=true]:disabled,
.pager li a:disabled {
  background-color: #4d4d4d;
  color: rgba(0, 0, 0, 0.5);
  opacity: 1;
}
input:not([type=range]):disabled:hover, input:not([type=range]):disabled:focus, input:not([type=range]):disabled:active,
textarea:disabled:hover,
textarea:disabled:focus,
textarea:disabled:active,
div[contenteditable=true]:disabled:hover,
div[contenteditable=true]:disabled:focus,
div[contenteditable=true]:disabled:active,
.pager li a:disabled:hover,
.pager li a:disabled:focus,
.pager li a:disabled:active {
  border-color: #e7e7e7;
}

div[contenteditable=true]:not(:disabled):hover, div[contenteditable=true]:not(:disabled):active, div[contenteditable=true]:not(:disabled):focus {
  background-color: white !important;
  border-color: #43b749 !important;
}

textarea:active:not(:disabled), textarea:hover:not(:disabled), textarea:focus:not(:disabled) {
  border-color: #43b749 !important;
  background-color: white !important;
}

select,
button,
.button,
input[type=submit],
input[type=button] {
  background-color: white;
  border: 1px solid #e7e7e7;
  color: black;
}
select:not(:disabled):not(.primary):not(#quota):hover,
button:not(:disabled):not(.primary):not(#quota):hover,
.button:not(:disabled):not(.primary):not(#quota):hover,
input[type=submit]:not(:disabled):not(.primary):not(#quota):hover,
input[type=button]:not(:disabled):not(.primary):not(#quota):hover {
  border-color: #43b749;
}
select:not(:disabled):not(.primary):not(#quota):focus, select:not(:disabled):not(.primary):not(#quota):active, select:not(:disabled):not(.primary):not(#quota).active,
button:not(:disabled):not(.primary):not(#quota):focus,
button:not(:disabled):not(.primary):not(#quota):active,
button:not(:disabled):not(.primary):not(#quota).active,
.button:not(:disabled):not(.primary):not(#quota):focus,
.button:not(:disabled):not(.primary):not(#quota):active,
.button:not(:disabled):not(.primary):not(#quota).active,
input[type=submit]:not(:disabled):not(.primary):not(#quota):focus,
input[type=submit]:not(:disabled):not(.primary):not(#quota):active,
input[type=submit]:not(:disabled):not(.primary):not(#quota).active,
input[type=button]:not(:disabled):not(.primary):not(#quota):focus,
input[type=button]:not(:disabled):not(.primary):not(#quota):active,
input[type=button]:not(:disabled):not(.primary):not(#quota).active {
  background-color: #ebfff9;
  border-color: #43b749;
}
select:disabled,
button:disabled,
.button:disabled,
input[type=submit]:disabled,
input[type=button]:disabled {
  background-color: #4d4d4d;
  color: rgba(0, 0, 0, 0.5);
  opacity: 1;
}
select:disabled:hover, select:disabled:focus, select:disabled:active,
button:disabled:hover,
button:disabled:focus,
button:disabled:active,
.button:disabled:hover,
.button:disabled:focus,
.button:disabled:active,
input[type=submit]:disabled:hover,
input[type=submit]:disabled:focus,
input[type=submit]:disabled:active,
input[type=button]:disabled:hover,
input[type=button]:disabled:focus,
input[type=button]:disabled:active {
  background-color: #4d4d4d;
  border-color: #e7e7e7;
}
select.primary:not(:disabled),
button.primary:not(:disabled),
.button.primary:not(:disabled),
input[type=submit].primary:not(:disabled),
input[type=button].primary:not(:disabled) {
  border-color: #e7e7e7;
  background-color: #232629;
  color: black;
}
select.primary:not(:disabled):hover,
button.primary:not(:disabled):hover,
.button.primary:not(:disabled):hover,
input[type=submit].primary:not(:disabled):hover,
input[type=button].primary:not(:disabled):hover {
  border-color: #43b749;
  background-color: #98cb53;
}
select.primary:not(:disabled):focus, select.primary:not(:disabled):active,
button.primary:not(:disabled):focus,
button.primary:not(:disabled):active,
.button.primary:not(:disabled):focus,
.button.primary:not(:disabled):active,
input[type=submit].primary:not(:disabled):focus,
input[type=submit].primary:not(:disabled):active,
input[type=button].primary:not(:disabled):focus,
input[type=button].primary:not(:disabled):active {
  background-color: #ebfff9;
  border-color: #43b749;
}
select.primary:disabled,
button.primary:disabled,
.button.primary:disabled,
input[type=submit].primary:disabled,
input[type=button].primary:disabled {
  background-color: #4d4d4d;
  color: rgba(0, 0, 0, 0.5);
  border-color: #e7e7e7;
}
select.primary:disabled:hover, select.primary:disabled:focus, select.primary:disabled:active,
button.primary:disabled:hover,
button.primary:disabled:focus,
button.primary:disabled:active,
.button.primary:disabled:hover,
.button.primary:disabled:focus,
.button.primary:disabled:active,
input[type=submit].primary:disabled:hover,
input[type=submit].primary:disabled:focus,
input[type=submit].primary:disabled:active,
input[type=button].primary:disabled:hover,
input[type=button].primary:disabled:focus,
input[type=button].primary:disabled:active {
  background-color: #4d4d4d;
  color: rgba(0, 0, 0, 0.5);
  border-color: #e7e7e7;
}

/* jQuery UI Fixes ---------------------------------------------------------- */
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  border-color: #e7e7e7;
  background: none;
  background-color: white;
  font-weight: bold;
  color: black;
}

.ui-tabs .ui-tabs-nav .ui-state-default {
  background-color: #232629;
  border-bottom-color: #e7e7e7;
}
.ui-tabs .ui-tabs-nav .ui-state-default a {
  color: black;
}

.ui-tabs .ui-tabs-nav .ui-state-hover {
  background-color: #232629;
  border-bottom-color: #43b749;
}
.ui-tabs .ui-tabs-nav .ui-state-hover a:hover {
  color: black;
}

.ui-tabs .ui-tabs-nav .ui-state-active {
  background-color: #232629;
  border-bottom-color: #43b749;
}
.ui-tabs .ui-tabs-nav .ui-state-active a, .ui-tabs .ui-tabs-nav .ui-state-active a:link {
  color: black;
}

.ui-state-default.ui-state-disabled {
  background-color: #4d4d4d;
  opacity: 0.5;
}
.ui-state-default.ui-state-disabled a {
  color: black;
}

ul.ui-tabs-nav .ui-tabs-active,
ul.ui-tabs-nav .ui-tabs-active > a {
  background-color: #232629;
  color: black;
  border-bottom-color: #43b749;
}

.ui-accordion .ui-accordion-header {
  background-color: #232629;
}
.ui-accordion .ui-accordion-content {
  background-color: white;
}

/* General nextcloud -------------------------------------------------------- */
.preview {
  filter: none;
}

.dropdown {
  background-color: white;
  box-shadow: none;
  border: 1px solid #e7e7e7;
}

/* Login Screen ------------------------------------------------------------- */
#body-login {
  background-color: white !important;
}
#body-login p.info {
  color: rgba(0, 0, 0, 0.5);
}
#body-login p.info a {
  font-weight: 600;
}
#body-login p.info a:hover {
  opacity: 1;
}
#body-login #remember_login + label:hover, #body-login #remember_login + label:focus {
  opacity: 1;
  color: rgba(0, 0, 0, 0.5);
}
#body-login form fieldset legend,
#body-login form fieldset .warning-info,
#body-login form input[type=checkbox] + label,
#body-login #datadirContent label {
  color: rgba(0, 0, 0, 0.5);
}

/* Header ------------------------------------------------------------------- */
#header .logo,
#header .logo-icon {
  background-image: url("../img/logo.svg");
}

#header #nextcloud {
  min-width: 300px;
}
#header #nextcloud .logo-icon {
  width: 100%;
}

#body-user #header,
#body-settings #header,
#body-public #header {
  background-color: white;
  border-bottom: 3px solid #ffba00;
}

#settings #expand:hover img,
#settings #expand:focus img,
settings #expand:active img,
#settings #expand:hover #expandDisplayName,
#settings #expand:focus #expandDisplayName,
#settings #expand:active #expandDisplayName {
  opacity: 1 !important;
}

/* Search ------------------------------------------------------------------- */
.searchbox input[type=search]:focus,
.searchbox input[type=search]:active,
.searchbox input[type=search]:valid {
  border-color: #43b749 !important;
  background-color: white !important;
}

/* Breadcrumbs -------------------------------------------------------------- */
div.crumb a, div.crumb > span {
  color: black;
  background-size: inherit;
}

div.crumb span.icon-shared, div.crumb span.icon-public {
  opacity: 0.3;
}

/* Menues ------------------------------------------------------------------- */
.menu {
  box-shadow: none;
  background-color: white;
  border: 1px solid #e7e7e7;
}
.menu::after {
  border-bottom-color: #e7e7e7;
}
.menu li {
  color: black;
}
.menu li:hover {
  background-color: #fafafa;
}

#contactsmenu .menutoggle:hover {
  opacity: 1;
}
#contactsmenu > .menu .contact {
  border-bottom-color: #e7e7e7;
}
#contactsmenu > .menu .content .footer a {
  opacity: 1;
}

.popovermenu {
  background-color: white;
  color: black;
  border: 1px solid #e7e7e7;
  filter: none;
}
.popovermenu::after {
  border-bottom-color: #e7e7e7;
}
.popovermenu li > a {
  color: black;
}

.bubble, .app-navigation-entry-menu {
  background-color: white;
  color: black;
  border: 1px solid #e7e7e7;
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
  -o-filter: none;
  filter: none;
}
.bubble::after, .app-navigation-entry-menu::after {
  border-bottom-color: #e7e7e7;
}

#header .header-left > nav > #navigation.menu,
#header .header-right > div > .menu {
  filter: none;
}
#header .header-left > nav > #navigation.menu::after,
#header .header-right > div > .menu::after {
  border-bottom-color: #e7e7e7;
}

#body-settings #expand::before {
  border-bottom-color: #e7e7e7;
}

#navigation {
  background-color: white;
  border: 1px solid #e7e7e7;
  box-shadow: none;
}
#navigation::after {
  border-bottom-color: #e7e7e7;
}
#navigation a span {
  color: black;
}

#app-navigation .utils .action:hover, #app-navigation .utils .action:focus {
  opacity: 0.7;
}

/* Info colours ------------------------------------------------------------- */
#postsetupchecks .errors,
#postsetupchecks .warnings,
#security-warning > ul {
  color: #da4453;
}

#body-user .warning {
  color: #da4453;
  background-color: white;
  border: 1px solid #e7e7e7;
}

#body-settings .warning {
  background: #da4453;
}

.success {
  color: #27ae60;
}

span.warnings {
  background-color: #da4453;
}
span.error {
  background-color: #da4453;
}
span.success {
  background-color: #27ae60;
}

.msg.warnings {
  color: black;
  background-color: #da4453;
}
.msg.error {
  color: black;
  background-color: #da4453;
}
.msg.success {
  color: black;
  background-color: #27ae60;
}

/* General Settings --------------------------------------------------------- */
.section, .followupsection {
  color: black;
}

#cropper .inner-container {
  background-color: white;
  color: black;
  box-shadow: none;
  border: 1px solid #e7e7e7;
}
#cropper .inner-container .jcrop-holder {
  box-shadow: none;
}

#updatenotification .channel-description span {
  color: black;
}
#updatenotification .channel-description span strong {
  color: black;
  font-weight: bold;
}

/* App Store ---------------------------------------------------------------- */
.app-level span {
  color: black;
}
.app-level .official {
  border-color: #27ae60;
}

#apps-list.installed .app-image-icon svg,
#apps-list.installed .app-image-icon .icon-settings-dark {
  opacity: 1;
}
#apps-list.installed .section > * {
  border-bottom-color: #e7e7e7;
}
#apps-list .app-name {
  font-weight: 600;
}

#app-sidebar #app-details-view h2 svg,
#app-sidebar #app-details-view h2 .icon-settings-dark {
  opacity: 1;
}

.app-version {
  color: rgba(0, 0, 0, 0.5);
}

/* Files table -------------------------------------------------------------- */
#filestable tbody tr {
  background-color: white;
}
#filestable tbody tr:hover {
  background-color: #fafafa;
}
#filestable tbody tr:focus, #filestable tbody tr:active {
  background-color: #ebfff9;
}
#filestable tbody tr.highlighted, #filestable tbody tr.highlighted .name:focus, #filestable tbody tr.selected, #filestable tbody tr.searchresult {
  background-color: #ebfff9;
  color: black;
}
#filestable tbody tr.highlighted .filename, #filestable tbody tr.highlighted .filesize, #filestable tbody tr.highlighted .date, #filestable tbody tr.highlighted .name:focus .filename, #filestable tbody tr.highlighted .name:focus .filesize, #filestable tbody tr.highlighted .name:focus .date, #filestable tbody tr.selected .filename, #filestable tbody tr.selected .filesize, #filestable tbody tr.selected .date, #filestable tbody tr.searchresult .filename, #filestable tbody tr.searchresult .filesize, #filestable tbody tr.searchresult .date {
  font-weight: 600;
}
#filestable tbody tr.externalDisabledRow {
  background-color: #4d4d4d;
}
#filestable tbody tr.externalErroredRow {
  background-color: #da4453;
}
#filestable tbody .name:focus {
  background-color: inherit;
}

/* File picker -------------------------------------------------------------- */
.oc-dialog {
  background-color: white;
  color: black;
  box-shadow: none;
  border: 1px solid #e7e7e7;
}
.oc-dialog .fileexists th label {
  color: black;
}

.oc-dialog-title {
  background-color: white;
}

#oc-dialog-filepicker-content .filelist {
  background-color: #232629;
}
#oc-dialog-filepicker-content .filelist td {
  border-bottom-color: #e7e7e7;
}

#oc-dialog-filepicker-content .filepicker_element_selected {
  background-color: #ebfff9;
}
#oc-dialog-filepicker-content .filepicker_element_selected td {
  font-weight: 600;
}
#oc-dialog-filepicker-content .filepicker_element_selected .filename {
  color: black;
}
#oc-dialog-filepicker-content .filepicker_element_selected:hover {
  background-color: #ebfff9;
}

.oc-dialog-buttonrow {
  background-image: none;
  background-color: white;
}

/* Multiselect -------------------------------------------------------------- */
div.multiselect.active {
  background-color: white;
}

ul.multiselectoptions {
  background-color: white;
  border-color: #e7e7e7;
}
ul.multiselectoptions.down {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* Dropdown Selects --------------------------------------------------------- */
.select2-container-multi .select2-choices, .select2-container-multi.select2-container-active .select2-choices {
  background-color: #232629;
  color: black;
  border-color: #e7e7e7;
}
.select2-container-multi .select2-choices .select2-search-choice, .select2-container-multi.select2-container-active .select2-choices .select2-search-choice {
  background-color: white;
  border-color: #e7e7e7;
  color: black;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.select2-container-multi .select2-choices .select2-search-choice:hover, .select2-container-multi .select2-choices .select2-search-choice.select2-search-choice-focus, .select2-container-multi.select2-container-active .select2-choices .select2-search-choice:hover, .select2-container-multi.select2-container-active .select2-choices .select2-search-choice.select2-search-choice-focus {
  background-color: white;
  border-color: #43b749;
  color: black;
}
.select2-container-multi .select2-choices .select2-search-field input {
  color: black;
}
.select2-container-multi .select2-choices .select2-search-field input.select2-active {
  background-color: #232629 !important;
}

.select2-container .select2-choices {
  background-color: #232629;
  color: black;
  border-color: #e7e7e7;
}
.select2-container .select2-choices .select2-search-field {
  background: #232629;
}
.select2-container .select2-choices .select2-input {
  background: #232629;
}
.select2-container .select2-choices .select2-search-choice {
  background-color: white;
  border-color: #e7e7e7;
  color: black;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.select2-container .select2-choices .select2-search-choice:hover, .select2-container .select2-choices .select2-search-choice.select2-search-choice-focus {
  background-color: white;
  border-color: #43b749;
}
.select2-container .select2-choice {
  background: #232629;
  border-color: #e7e7e7;
  color: black !important;
}

#select2-drop, .select2-drop {
  color: black;
}
#select2-drop .select2-search, .select2-drop .select2-search {
  background-color: #232629 !important;
}
#select2-drop .select2-results .select2-result,
#select2-drop .select2-results .select2-no-results,
#select2-drop .select2-results .select2-searching, .select2-drop .select2-results .select2-result,
.select2-drop .select2-results .select2-no-results,
.select2-drop .select2-results .select2-searching {
  background-color: #232629;
  color: black;
}
#select2-drop .select2-results .select2-result.select2-selected, .select2-drop .select2-results .select2-result.select2-selected {
  background-color: #232629;
}
#select2-drop .select2-results .select2-highlighted, #select2-drop .select2-results .select2-result.select2-highlighted, .select2-drop .select2-results .select2-highlighted, .select2-drop .select2-results .select2-result.select2-highlighted {
  background-color: #fafafa;
  color: black;
}

.select2-dropdown-open .select2-choice {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.activitysubject strong.systemtag {
  background-color: #232629;
  border: 1px solid #e7e7e7;
}

/* Auto suggestion users in comments dropdown ------------------------------- */
.atwho-view {
  box-shadow: none;
}
.atwho-view .cur {
  background: #fafafa;
}

/* UI Widget ---------------------------------------------------------------- */
.ui-dialog .ui-dialog-content {
  background-color: white;
}
.ui-dialog .ui-dialog-buttonpane {
  background-color: white;
}

.ui-dialog-titlebar.ui-widget-header {
  background-color: white;
  color: black;
}
.ui-dialog-titlebar.ui-widget-header .ui-dialog-titlebar-close .ui-icon-closethick {
  background-image: url("../../core/img/actions/close.svg");
}

.ui-widget-content {
  background: white;
  border: 1px solid #e7e7e7;
  color: black;
}

.ui-widget-header {
  background: inherit;
  color: black;
  border: none;
}

.ui-widget.ui-datepicker {
  filter: none;
  border: 1px solid #e7e7e7;
  background-color: white;
}
.ui-widget.ui-datepicker::after {
  border-bottom-color: #e7e7e7;
}
.ui-widget.ui-datepicker .ui-widget-header {
  background-color: white;
  color: black;
}
.ui-widget.ui-datepicker .ui-widget-header .ui-icon {
  opacity: 1;
}
.ui-widget.ui-datepicker .ui-widget-header .ui-datepicker-prev, .ui-widget.ui-datepicker .ui-widget-header .ui-datepicker-next {
  border-color: #e7e7e7;
  background: white;
}
.ui-widget.ui-datepicker .ui-datepicker-calendar th {
  color: black;
  opacity: 0.7;
}
.ui-widget.ui-datepicker .ui-datepicker-calendar tr td > * {
  color: black;
}
.ui-widget.ui-datepicker .ui-datepicker-calendar td .ui-priority-secondary:not(.ui-state-hover) {
  color: rgba(0, 0, 0, 0.5);
  opacity: 0.5;
}
.ui-widget.ui-datepicker .ui-datepicker-calendar td.ui-datepicker-week-end:not(.ui-state-disabled) :not(.ui-state-hover):not(.ui-state-active) {
  color: #ebfff9;
  opacity: 1;
}
.ui-widget.ui-datepicker .ui-datepicker-calendar td.ui-datepicker-week-end:not(.ui-state-disabled) .ui-priority-secondary:not(.ui-state-hover) {
  color: #ebfff9;
  opacity: 0.7;
}
.ui-widget.ui-datepicker .ui-datepicker-calendar td.ui-datepicker-current-day:not(.ui-state-disabled) a.ui-state-active, .ui-widget.ui-datepicker .ui-datepicker-calendar td .ui-state-hover,
.ui-widget.ui-datepicker .ui-datepicker-calendar td .ui-state-focus {
  background-color: #ebfff9;
  color: black;
}
.ui-widget.ui-datepicker .ui-datepicker-calendar td.ui-datepicker-today a:not(.ui-state-hover) {
  background-color: #4d4d4d;
}

.ui-widget.ui-timepicker {
  filter: none;
  background-color: white;
  border: 1px solid #e7e7e7;
}
.ui-widget.ui-timepicker .ui-widget-content {
  background-color: white;
}
.ui-widget.ui-timepicker::after {
  border-bottom-color: #e7e7e7;
}
.ui-widget.ui-timepicker .ui-widget-header {
  background-color: white;
  color: black;
}
.ui-widget.ui-timepicker table.ui-timepicker tr td > * {
  color: black;
}
.ui-widget.ui-timepicker .ui-timepicker-table th {
  color: rgba(0, 0, 0, 0.5);
  opacity: 0.7%;
}
.ui-widget.ui-timepicker .ui-timepicker-table td > * {
  color: black;
}
.ui-widget.ui-timepicker .ui-timepicker-table td.ui-timepicker-hours {
  border-right-color: #e7e7e7;
}
.ui-widget.ui-timepicker .ui-timepicker-table td.ui-timepicker-hour-cell a.ui-state-active, .ui-widget.ui-timepicker .ui-timepicker-table td.ui-timepicker-minute-cell a.ui-state-active,
.ui-widget.ui-timepicker .ui-timepicker-table td .ui-state-hover,
.ui-widget.ui-timepicker .ui-timepicker-table td .ui-state-focus {
  background-color: #ebfff9;
  color: black;
}

.ui-widget.ui-timepicker .ui-timepicker-table th #app-sidebar div.content-wrapper .body .section input.focus {
  background-color: #232629;
  border: 1px solid #e7e7e7;
  box-shadow: none;
}

/* Tooltips ----------------------------------------------------------------- */
.tooltip {
  filter: none;
}
.tooltip.right .tooltip-arrow {
  border-right-color: #e7e7e7;
}
.tooltip.left .tooltip-arrow {
  border-left-color: #e7e7e7;
}
.tooltip.top .tooltip-arrow, .tooltip.top-left .tooltip-arrow, .tooltip.top-right .tooltip-arrow {
  border-top-color: #e7e7e7;
}
.tooltip.bottom .tooltip-arrow, .tooltip.bottom-left .tooltip-arrow, .tooltip.bottom-right .tooltip-arrow {
  border-bottom-color: #e7e7e7;
}

.tooltip-inner {
  background-color: white;
  color: black;
  box-shadow: none;
  border: 1px solid #e7e7e7 !important;
  padding: 10px;
}

#adminaccount .tooltip-inner {
  background-color: transparent;
  border: none;
}

.contact .tooltip .tooltip-arrow {
  right: -4px;
}

/* App menu ----------------------------------------------------------------- */
#appmenu li span {
  border: 1px solid #e7e7e7;
  color: black;
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
  -o-filter: none;
  filter: none;
}
#appmenu li a.active::before {
  border-bottom-color: #ffba00;
}
#appmenu li:hover a::before {
  border-bottom-color: #e7e7e7;
}

#app-navigation .collapsible:hover > a, #app-navigation .collapsible:focus > a {
  background-position-x: 16px;
}

/* App Navigation ----------------------------------------------------------- */
#app-navigation {
  margin-top: 15px;
}
#app-navigation ul > li > a, #app-navigation li > a {
  opacity: 1;
  margin-top: 3px;
  margin-bottom: 3px;
  font-weight: bold;
}
#app-navigation ul > li > a:hover, #app-navigation ul > li > a:hover + div.app-navigation-entry-utils, #app-navigation li > a:hover, #app-navigation li > a:hover + div.app-navigation-entry-utils {
  box-shadow: none !important;
  border-radius: 150px;
  border: 1px solid #a5dec3;
  margin-left: 10px;
  margin-right: 5px;
  background-color: #ebfff9;
}
#app-navigation ul > li > a.active:hover, #app-navigation li > a.active:hover {
  background-color: #ebfff9;
}
#app-navigation .active {
  box-shadow: none !important;
  border-radius: 150px;
  border: 1px solid #a5dec3;
  margin-left: 10px;
  margin-right: 5px;
  background-color: #ebfff9;
}
#app-navigation .active > a {
  box-shadow: none !important;
  color: black;
  font-weight: bolder;
}
#app-navigation input {
  background-color: white !important;
}
#app-navigation select {
  background-color: white !important;
}
#app-navigation .app-navigation-entry-edit,
#app-navigation .app-navigation-entry-deleted {
  background-color: white;
}

.app-navigation-entry-menu li > button {
  color: black;
}
.app-navigation-entry-menu li > button:hover {
  background-color: #fafafa;
}

/* App Sidebar -------------------------------------------------------------- */
#app-sidebar {
  background-color: white;
  border-color: #e7e7e7;
}
#app-sidebar .file-details {
  color: black;
}
#app-sidebar .close {
  opacity: 1;
}
#app-sidebar .thumbnail {
  color: black;
}

.tabHeaders .tabHeader, .tabHeaders .tabHeader a {
  color: black;
}
.tabHeaders .tabHeader.selected, .tabHeaders .tabHeader:hover, .tabHeaders .tabHeader:focus {
  color: black;
  border-bottom: 1px solid #43b749;
}

.shareTabView .icon {
  opacity: 0.5;
}
.shareTabView .error {
  color: #da4453;
  border-color: #da4453;
  box-shadow: none;
}

.versionsTabView li {
  border-color: #e7e7e7;
}
.versionsTabView li:hover {
  background: #fafafa;
}
.versionsTabView a {
  opacity: 1;
  color: rgba(0, 0, 0, 0.5);
}

.ui-widget-content a {
  color: black;
}
.ui-widget-content .ui-state-focus {
  border-color: #43b749;
  background: #fafafa;
  color: black;
}

/* App Settings ------------------------------------------------------------- */
.settings-button {
  opacity: 1;
}
.settings-button:hover {
  background-color: #fafafa;
}

#controls {
  background: #fafafa;
}

.activitymessage {
  color: black;
  opacity: 0.7;
}

.box .activitytime {
  color: rgba(0, 0, 0, 0.5);
}

#no_more_activities {
  color: rgba(0, 0, 0, 0.5);
  opacity: 0.7;
}

.activity-icon {
  opacity: 0.7;
}

/* Announcement Center ------------------------------------------------------ */
#announcement_submit_msg.success {
  color: black;
  background-color: #27ae60;
}

#app-content hr {
  border-color: #e7e7e7;
}

.app-calendar #app-navigation .active {
  background-color: inherit;
}
.app-calendar #app-navigation .new-entity {
  opacity: 0.7;
}
.app-calendar #app-navigation .new-entity:hover {
  background-color: #fafafa;
  opacity: 1;
}
.app-calendar #app-navigation .togglebuttons .button.active {
  color: black;
}
.app-calendar #app-navigation #datepickercontainer .datepicker-heading .button {
  background-color: white;
}
.app-calendar #app-navigation #datepickercontainer #datepicker table td button:hover {
  background-color: #fafafa;
  border-radius: 50%;
}
.app-calendar #app-navigation #datepickercontainer #datepicker table td .text-muted {
  opacity: 0.5;
}
.app-calendar #app-navigation #datepickercontainer #datepicker table td.highlight-today {
  background-color: #4d4d4d;
  border-radius: 50%;
}
.app-calendar #app-navigation #datepickercontainer #datepicker table td.highlight-weekend button {
  color: #43b749;
}
.app-calendar #app-navigation #datepickercontainer #datepicker table td.highlight-weekend button .text-muted {
  color: #43b749;
}
.app-calendar #app-navigation #datepickercontainer #datepicker table td.highlight-weekend button:hover {
  color: black;
}

.fc-unthemed th, .fc-unthemed td, .fc-unthemed thead, .fc-unthemed tbody, .fc-unthemed .fc-divider, .fc-unthemed .fc-row, .fc-unthemed .fc-popover {
  border-color: #e7e7e7;
}
.fc-unthemed .fc-divider, .fc-unthemed .fc-popover .fc-header, .fc-unthemed .fc-list-heading td {
  background-color: #4d4d4d;
}

#fullcalendar {
  background-color: #232629;
}
#fullcalendar table thead th {
  background-color: white;
}
#fullcalendar table tbody tr td.fc-other-month {
  background-color: white;
}
#fullcalendar.fc-unthemed tr td {
  border-top-color: #e7e7e7;
}
#fullcalendar.fc-unthemed .fc-today {
  background-color: #ebfff9 !important;
  color: black;
}
#fullcalendar.fc-unthemed .fc-today span.fc-day-number {
  font-weight: 600;
}
#fullcalendar td.fc-day.fc-sat, #fullcalendar td.fc-day.fc-sun {
  background-color: #232629;
}
#fullcalendar td.fc-day.fc-sat.fc-other-month, #fullcalendar td.fc-day.fc-sun.fc-other-month {
  background-color: white;
}

.fc-basic-view .fc-day-top .fc-week-number {
  background-color: white;
  color: black;
  border-right: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
}

.fc th,
.fc .fc-axis,
.fc-day-grid-event .fc-time,
.fc-ltr .fc-basic-view .fc-day-number,
.fc-ltr .fc-basic-view .fc-week-number,
.fc-time-grid-event .fc-time {
  opacity: 1;
  font-size: 85%;
}

.fc-ltr .fc-basic-view .fc-day-top .fc-day-number {
  padding-right: 6px;
}

.modal-open .modal.popover, .modal-open .modal.import {
  background: white;
  box-shadow: none;
  border: 1px solid #e7e7e7;
}

.advanced .advanced--input {
  background: #232629 !important;
}
.advanced .advanced--button-area {
  border-color: #e7e7e7;
}

.advanced--fieldset-attendeelist .advanced--toggler:hover,
.advanced--fieldset-reminderlist .advanced--toggler:hover {
  background: #fafafa;
}

.app-contacts {
  /*.addressBookList .newAddressBookSubmit {
  	border: none;
  	opacity: 0;
  }*/
}
.app-contacts .app-content-list-item {
  color: black;
}
.app-contacts .app-content-list-item:first-child {
  border: none;
}
.app-contacts .app-content-list-item:active, .app-contacts .app-content-list-item:focus {
  background-color: #ebfff9;
}
.app-contacts .app-content-list-item.active {
  background-color: #ebfff9;
  color: black;
  font-weight: 600;
}
.app-contacts .contactdetails__header .contactdetails__name,
.app-contacts .contactdetails__header .contactdetails__org,
.app-contacts .contactdetails__header .contactdetails__title {
  color: black !important;
  font-weight: 600;
}
.app-contacts .contactdetails__header .contactdetails__name:placeholder-shown,
.app-contacts .contactdetails__header .contactdetails__org:placeholder-shown,
.app-contacts .contactdetails__header .contactdetails__title:placeholder-shown {
  opacity: 1;
}
.app-contacts .contactdetails__header #details-contact-infos input:hover, .app-contacts .contactdetails__header #details-contact-infos input:focus {
  background: none;
}
.app-contacts detailsitem select {
  color: black;
}
.app-contacts #importscreen-wrapper,
.app-contacts #importscreen-sidebar-block {
  background: white;
}
.app-contacts #importscreen-progress {
  background-color: #232629;
}

#external ul.icon-list .img {
  background-color: white;
}

/* File Access Control ------------------------------------------------------ */
.workflowengine .operation {
  border-bottom-color: #e7e7e7;
}
.workflowengine .operation .check:hover {
  background-color: white;
}
.workflowengine .operation.modified {
  border-left-color: #f67400;
}
.workflowengine .invalid-input {
  border-color: #da4453;
}

table td.filesize {
  color: black !important;
}

td.date, td.date > span {
  color: black !important;
  opacity: 1;
}

table.multiselect thead th {
  background-color: #fafafa;
  color: black;
}
table.multiselect th a {
  color: black;
}

tr span.extension, tr:hover span.extension, tr:active span.extension, tr:focus span.extension {
  color: black;
}

#fileList td a a.action {
  opacity: 1 !important;
}
#fileList tr .thumbnail-wrapper {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px 30px;
}
#fileList tr[data-mime$="httpd/unix-directory"] .thumbnail-wrapper {
  background-image: url("../img/Folder-icon.svg?v=1");
}
#fileList tr[data-mime$="httpd/unix-directory"] .thumbnail-wrapper .thumbnail {
  display: none;
}
#fileList tr[data-mime$="text/plain"] .thumbnail-wrapper {
  background-image: url("../img/TXT.svg?v=1");
}
#fileList tr[data-mime$="text/plain"] .thumbnail-wrapper .thumbnail {
  display: none;
}
#fileList tr[data-mime$="application/vnd.ms-powerpoint"] .thumbnail-wrapper {
  background-image: url("../img/PPT.svg?v=1");
}
#fileList tr[data-mime$="application/vnd.ms-powerpoint"] .thumbnail-wrapper .thumbnail {
  display: none;
}
#fileList tr[data-mime$="application/vnd.openxmlformats-officedocument.wordprocessingml.document"] .thumbnail-wrapper {
  background-image: url("../img/DOC.svg?v=1");
}
#fileList tr[data-mime$="application/vnd.openxmlformats-officedocument.wordprocessingml.document"] .thumbnail-wrapper .thumbnail {
  display: none;
}
#fileList tr[data-mime$="application/pdf"] .thumbnail-wrapper {
  background-image: url("../img/PDF.svg?v=1");
}
#fileList tr[data-mime$="application/pdf"] .thumbnail-wrapper .thumbnail {
  display: none;
}

.info, .filesize {
  opacity: 1;
  color: #000;
}

/* First Run Wizard --------------------------------------------------------- */
#cboxLoadedContent {
  background-color: #232629;
}

#firstrunwizard p a {
  color: #57cb65;
}
#firstrunwizard p a:hover, #firstrunwizard p a:focus {
  color: #57cb65;
}

.app-gallery #app-content {
  background-color: white !important;
}

#content-wrapper .app-gallery {
  background-color: #232629;
}

#controls .button.sorting {
  padding: 8px 5px;
}

#dropdown {
  background: white;
  box-shadow: none;
  border: 1px solid #e7e7e7;
}

#link {
  border-color: #e7e7e7;
}

#slideshow input[type=button]:not(:disabled):not(.primary):not(#quota):hover, #slideshow input[type=button]:not(:disabled):not(.primary):not(#quota):focus, #slideshow input[type=button]:not(:disabled):not(.primary):not(#quota):active, #slideshow input[type=button]:not(:disabled):not(.primary):not(#quota).active {
  background-color: transparent;
  border: none;
}

/* LDAP --------------------------------------------------------------------- */
#ldapSettings {
  background-color: white;
}
#ldapSettings > fieldset {
  background-color: white;
}
#ldapSettings ul.ui-tabs-nav .ui-tabs-active,
#ldapSettings ul.ui-tabs-nav .ui-tabs-active > a {
  background-color: #232629;
  color: black;
}
#ldapSettings div.ui-accordion-content {
  background: white;
}
#ldapSettings .ldap_grey {
  color: black;
}

/* Log reader --------------------------------------------------------------- */
#logreader-root table thead th {
  color: black;
  border-bottom-color: #e7e7e7;
}
#logreader-root table tbody tr td {
  border-bottom-color: #e7e7e7;
  background-color: white !important;
}

/* Mail --------------------------------------------------------------------- */
.app-mail #app-navigation .folders .ui-droppable-active {
  background-color: inherit;
}
.app-mail #app-navigation #app-settings .app-settings-hint {
  color: rgba(0, 0, 0, 0.5);
}

.app-mail #app-content .app-content-list .app-content-list-item.active .app-content-list-item-details {
  opacity: 1;
  color: rgba(0, 0, 0, 0.5);
}

.app-mail #app-content .app-content-details #mail-message-header {
  background: white;
}
.app-mail #app-content .app-content-details #mail-message-header .transparency {
  color: black !important;
}
.app-mail #app-content .app-content-details #mail-message-header .transparency a {
  color: #57cb65 !important;
}
.app-mail #app-content .app-content-details #mail-content {
  background-color: #EEE;
  color: #000;
  padding: 1em;
  border: 1px solid #e7e7e7;
  border-radius: 3px;
}
.app-mail #app-content .app-content-details input.to, .app-mail #app-content .app-content-details input.cc, .app-mail #app-content .app-content-details input.bcc, .app-mail #app-content .app-content-details input.subject, .app-mail #app-content .app-content-details textarea.message-body {
  border: none;
  border-top: 1px solid #e7e7e7;
}
.app-mail #app-content .app-content-details input.to:hover, .app-mail #app-content .app-content-details input.to:focus, .app-mail #app-content .app-content-details input.to:active, .app-mail #app-content .app-content-details input.cc:hover, .app-mail #app-content .app-content-details input.cc:focus, .app-mail #app-content .app-content-details input.cc:active, .app-mail #app-content .app-content-details input.bcc:hover, .app-mail #app-content .app-content-details input.bcc:focus, .app-mail #app-content .app-content-details input.bcc:active, .app-mail #app-content .app-content-details input.subject:hover, .app-mail #app-content .app-content-details input.subject:focus, .app-mail #app-content .app-content-details input.subject:active, .app-mail #app-content .app-content-details textarea.message-body:hover, .app-mail #app-content .app-content-details textarea.message-body:focus, .app-mail #app-content .app-content-details textarea.message-body:active {
  border-color: #e7e7e7 !important;
}
.app-mail #app-content .app-content-details textarea.message-body {
  border-bottom: 1px solid #e7e7e7;
}
.app-mail #app-content .app-content-details .mail-message-attachments .attachments > div {
  border-color: #e7e7e7;
}
.app-mail #app-content .app-content-details .mail-message-attachments .attachments > div:hover, .app-mail #app-content .app-content-details .mail-message-attachments .attachments > div span:hover {
  background-color: inherit;
}
.app-mail #app-content .app-content-details .mail-message-attachments .attachments .attachment-download {
  opacity: 1;
  border-color: transparent;
}
.app-mail #app-content .app-content-details .transparency {
  opacity: 1;
}

.app-mail #app-content .setup-content .toggle-manual-mode {
  opacity: 0.7;
}

.app-notes #app-content .note-meta {
  opacity: 1;
}
.app-notes #app-content .note-meta .note-word-count {
  opacity: 0.7;
}
.app-notes #app-content .note-meta .note-meta-right {
  opacity: 0.7;
}
.app-notes #app-content .note-meta .note-meta-right:hover, .app-notes #app-content .note-meta .note-meta-right:active, .app-notes #app-content .note-meta .note-meta-right:focus {
  opacity: 1;
}

#app-navigation li .nav-entry {
  color: black;
}

.CodeMirror {
  background-color: white;
  color: black;
}

.CodeMirror-cursor {
  border-left-color: rgba(189, 195, 199, 0.4);
}

/* Notifications ----------------------------------------------------------- */
#notification {
  border: 1px solid #e7e7e7;
  border-top: none;
}
#notification a {
  color: #57cb65;
}

.notification-container .notification-time {
  opacity: 0.7;
}

.notification:not(:last-child) {
  border-bottom: 1px solid #e7e7e7;
}

.notifications div.notifications-button {
  background-image: url("../img/Notifications-icon.svg?v=1");
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
}
.notifications div.notifications-button:hover, .notifications div.notifications-button:focus {
  background-image: url("../img/Notifications-icon-hover.svg?v=1");
}
.notifications div.notifications-button img {
  display: none;
}

/* Retention ---------------------------------------------------------------- */
#retention #retention-list td {
  border-color: #e7e7e7;
}

/* Text Editor -------------------------------------------------------------- */
#editor_container {
  background-color: #e7e7e7;
}

#editor_controls {
  background-color: white;
}
#editor_controls small.filename {
  color: black;
}
#editor_controls small.saving-message {
  color: rgba(0, 0, 0, 0.5);
}
#editor_controls #editor_close {
  opacity: 1;
}
#editor_controls #editor_close:hover {
  background-color: #fafafa;
}
#editor_controls #editor_close:active, #editor_controls #editor_close:focus {
  background-color: #ebfff9;
}

.ace-clouds {
  background-color: white !important;
  color: black !important;
}
.ace-clouds .ace_gutter {
  color: rgba(0, 0, 0, 0.5) !important;
  background-color: white !important;
  opacity: 1 !important;
}
.ace-clouds .ace_gutter .ace_gutter-cell {
  opacity: 0.7;
}
.ace-clouds .ace_gutter-active-line {
  background-color: #fafafa !important;
}
.ace-clouds .ace_marker-layer .ace_active-line {
  background: white !important;
}
.ace-clouds .ace_marker-layer .ace_selection {
  background: #fafafa !important;
}
.ace-clouds .ace_cursor {
  color: black !important;
}

/* Two Factor U2F */
.two-factor-link .button {
  color: rgba(0, 0, 0, 0.5) !important;
}
.two-factor-link .button:hover {
  color: black !important;
}

#body-login .warning {
  background-color: #232629;
}

.challenge-form input[type=text], .totp-form input[type=text] {
  background: white;
}

.app-audioplayer #app-navigation #albenoverview li {
  opacity: 1;
}
.app-audioplayer #app-navigation #myCategory li {
  opacity: 1;
}
.app-audioplayer #app-navigation #myCategory li:hover {
  background-color: #fafafa;
}
.app-audioplayer #app-navigation #myCategory li.active span {
  color: black;
}
.app-audioplayer #app-navigation #myCategory li i.ioc {
  color: black;
}
.app-audioplayer #app-navigation #myCategory li i.ioc.ioc-sort:hover {
  color: #27ae60;
}
.app-audioplayer #app-navigation #myCategory li i.ioc.ioc-delete:hover {
  color: #da4453;
}
.app-audioplayer #app-navigation #myCategory li.activeHover {
  border-color: #43b749;
}
.app-audioplayer #app-navigation #myCategory li.dropHover {
  background-color: #fafafa;
}
.app-audioplayer #app-navigation #app-settings #audio-settings li.audio-settings-item {
  opacity: 1;
}

.app-audioplayer #app-content #loading {
  color: #f2f2f2;
}
.app-audioplayer #app-content .sm2-bar-ui, .app-audioplayer #app-content .sm2-bar-ui .bd a {
  color: black;
}
.app-audioplayer #app-content .sm2-bar-ui #app-navigation-toggle_alternative {
  background-color: white;
}
.app-audioplayer #app-content .sm2-bar-ui .sm2-inline-gradient {
  background-color: white;
}
.app-audioplayer #app-content .sm2-bar-ui .bd .sm2-button-element:hover {
  background-color: white;
}
.app-audioplayer #app-content .sm2-bar-ui .sm2-progress .sm2-progress-track {
  background-color: #232629;
}
.app-audioplayer #app-content .sm2-bar-ui .sm2-progress .sm2-progress-bar {
  background-color: #ebfff9;
}
.app-audioplayer #app-content .sm2-bar-ui .sm2-progress .sm2-progress-ball {
  background-color: #f2f2f2;
}
.app-audioplayer #app-content #playlist-container .coverrow .album .albumcover {
  box-shadow: none;
}
.app-audioplayer #app-content #playlist-container .coverrow .album .albumdescr .albumname {
  color: black;
}
.app-audioplayer #app-content #playlist-container .coverrow .album .albumdescr .artist {
  color: rgba(0, 0, 0, 0.5);
}
.app-audioplayer #app-content #playlist-container .songcontainer {
  background-color: #232629;
  box-shadow: none;
  color: black;
}
.app-audioplayer #app-content #playlist-container .songcontainer .open-arrow::before {
  border-bottom-color: #232629;
}
.app-audioplayer #app-content #playlist-container .songcontainer .songcontainer-cover {
  box-shadow: none;
}
.app-audioplayer #app-content #playlist-container .songcontainer a.close {
  color: #f2f2f2;
}
.app-audioplayer #app-content #playlist-container #individual-playlist-header .header-indi {
  border-bottom-color: #e7e7e7;
  color: black;
}
.app-audioplayer #app-content #playlist-container #individual-playlist-header span {
  color: black;
}
.app-audioplayer #app-content #playlist-container #individual-playlist > li {
  color: black;
}
.app-audioplayer #app-content #playlist-container #individual-playlist > li.dragable:hover {
  background-color: #fafafa;
}
.app-audioplayer #app-content #playlist-container #individual-playlist > li span {
  color: black !important;
}

.app-audioplayer #app-sidebar #ID3EditorTabView .icon-info {
  opacity: 1;
}

#bm_import:hover ~ button#bm_import_submit {
  background-color: white;
  color: black;
}

.bookmark_single {
  border-bottom-color: #e7e7e7;
}
.bookmark_single:hover {
  background-color: #fafafa;
}

.bookmark_single_form {
  border-bottom-color: #e7e7e7;
}
.bookmark_single_form .tagit {
  box-shadow: none;
}

ul.tagit {
  border-color: #e7e7e7;
}
ul.tagit input[type=text] {
  color: rgba(0, 0, 0, 0.5);
}
ul.tagit li.tagit-choice {
  color: black;
  background-color: white;
  border-color: #e7e7e7;
}
ul.tagit li.tagit-choice:hover, ul.tagit li.tagit-choice.remove {
  background-color: white;
  border-color: #43b749;
}
ul.tagit li.tagit-choice .close .text-icon {
  color: rgba(0, 0, 0, 0.5);
}
ul.tagit li.tagit-choice a.tagLabel:hover, ul.tagit li.tagit-choice a.close .text-icon:hover {
  color: black;
}

#tag_filter ul.tagit li.tagit-choice {
  background-color: white;
  border: 1px solid #e7e7e7;
}

#circles_list div {
  color: black;
  border-color: #e7e7e7;
  background-color: white;
}
#circles_list div:hover {
  background: #fafafa;
}
#circles_list .selected {
  background: #ebfff9 !important;
}

#circles_new_type_definition div {
  color: black;
}

#mainui #circle_details #name {
  color: black;
}
#mainui #circle_details #type {
  color: black;
}
#mainui #circle_details .lightenbg {
  background: #ebfff9;
}
#mainui #memberslist .entry td {
  color: black;
  background: white !important;
  border-bottom-color: #e7e7e7;
}

#rightpanel .lightenbg {
  background: #4d4d4d;
}

div.circle {
  border-bottom-color: #e7e7e7;
}
div.circle:hover {
  background-color: #fafafa;
}
div.circle .title, div.circle .type, div.circle .owner {
  color: black;
}

#app-navigation.circles.selected {
  background-color: #232629 !important;
  border-top: 1px solid #e7e7e7;
}
#app-navigation.circles .circle.selected {
  background-color: #ebfff9;
}

#members_search_result {
  border-color: #e7e7e7;
  color: black;
  background: white;
}
#members_search_result .members_search.exact {
  background-color: #fafafa;
}

.app-deck #app-navigation .app-navigation-entry-edit {
  background-color: white;
}

.app-deck #app-content #controls #stack-add {
  background-color: #232629;
  border: 1px solid #e7e7e7;
}
.app-deck #app-content #controls #stack-add:hover {
  border-color: #43b749;
}
.app-deck #app-content #controls .board-header-controls > button {
  opacity: 1 !important;
}
.app-deck #app-content #boardlist thead td {
  opacity: 1;
}
.app-deck #app-content #boardlist td {
  border-bottom-color: #e7e7e7;
}
.app-deck #app-content #boardlist .board-create td {
  border-bottom: none;
}
.app-deck #app-content #board .card {
  background-color: white;
  border: 1px solid #e7e7e7;
  box-shadow: none;
}
.app-deck #app-content #board .card:hover, .app-deck #app-content #board .card.current {
  border-color: #43b749;
}
.app-deck #app-content #board .card.create:hover {
  background-color: #fafafa;
}
.app-deck #app-content #board .card .card-controls {
  background-color: #232629;
}
.app-deck #app-content #board .card .card-controls .due {
  opacity: 0.7;
}
.app-deck #app-content #board .card .card-controls .due span {
  color: black;
}
.app-deck #app-content #board .card .card-controls .due.overdue {
  background-color: #da4453;
  opacity: 1;
}
.app-deck #app-content #board .card .card-controls .due.now {
  background-color: white;
  opacity: 1;
}
.app-deck #app-content #board .card .card-controls .due.next {
  background-color: unset;
  opacity: 1;
}
.app-deck #app-content #board .card .card-controls .card-files {
  opacity: 0.7;
}
.app-deck #app-content #app-sidebar #sidebar-header h3 {
  background-color: white;
}
.app-deck #app-content #app-sidebar #board-detail-labels input {
  border: none;
}
.app-deck #app-content #app-sidebar #board-detail-labels li[ng-if$="status.createLabel"] input {
  color: black !important;
}
.app-deck #app-content #app-sidebar #card-meta #card-dates {
  opacity: 0.7;
}
.app-deck #app-content #app-sidebar #card-meta .section-header {
  border-bottom-color: #e7e7e7;
}
.app-deck #app-content #app-sidebar #card-meta .card-description.section-content .container {
  background-color: white;
}
.app-deck #app-content #app-sidebar #card-meta .save-indicator.unsaved {
  background-color: #4d4d4d;
  color: black;
}
.app-deck #app-content #app-sidebar #card-meta .attachment-list.selector {
  background-color: white;
  box-shadow: none;
}
.app-deck #app-content #app-sidebar #card-meta .attachment-list li.attachment .filesize, .app-deck #app-content #app-sidebar #card-meta .attachment-list li.attachment .filedate {
  color: rgba(0, 0, 0, 0.5);
}

/* Files Right Click -------------------------------------------------------- */
#rightClickMenu li:hover {
  background-color: #fafafa;
}

.app-flowupload hr {
  border-top-color: #e7e7e7;
  border-bottom-color: #e7e7e7;
}
.app-flowupload .alert {
  color: black;
  background-color: #fafafa;
  text-shadow: none;
  border-color: #43b749;
}
.app-flowupload .table-bordered {
  border-color: #e7e7e7;
}
.app-flowupload .table-bordered th, .app-flowupload .table-bordered td {
  border-color: #e7e7e7;
}
.app-flowupload .table-striped tbody > tr:nth-child(2n+1) > td {
  background-color: white;
}
.app-flowupload .table-hover tbody tr:hover > td {
  background-color: #fafafa;
}

.app-settings #app-content #fns .div-table .div-table-row .div-table-col select, .app-settings #app-content #fns .div-table .div-table-row .div-table-col input, .app-settings #app-content #elastic_search .div-table .div-table-row .div-table-col select, .app-settings #app-content #elastic_search .div-table .div-table-row .div-table-col input, .app-settings #app-content #files .div-table .div-table-row .div-table-col select, .app-settings #app-content #files .div-table .div-table-row .div-table-col input {
  background-color: #232629 !important;
}

.provider_navigation {
  color: black;
  background: white;
}

.result_entry_default {
  background: white;
}

#fts-popup .div-table-col-left {
  color: black;
}

#fulltextsearch .menutoggle:hover {
  opacity: 1 !important;
}

#groupfolders-react-root th {
  border-bottom-color: #e7e7e7;
}

.group-edit {
  background-color: white;
  border-color: #e7e7e7;
}

/* Markdown editor -----------------------------------------------------------*/
#app-content-texteditor #editor_container #editor_controls #preview_editor_controls button:hover {
  background-color: #fafafa;
}
#app-content-texteditor #editor_container #editor_wrap #preview_wrap #preview {
  background-color: white;
  color: black;
  border-left: 1px solid #e7e7e7;
}
#app-content-texteditor #editor_container #editor_wrap #preview_wrap #preview.text-markdown blockquote {
  border-left-color: #4d4d4d;
  color: rgba(0, 0, 0, 0.5);
}
#app-content-texteditor #editor_container #editor_wrap #preview_wrap #preview.text-markdown pre {
  background-color: white;
  border-color: #e7e7e7;
}
#app-content-texteditor #editor_container #editor_wrap #preview_wrap #preview.text-markdown code, #app-content-texteditor #editor_container #editor_wrap #preview_wrap #preview.text-markdown tt {
  background-color: white;
  border-color: #e7e7e7;
}

/* Music -------------------------------------------------------------------- */
.app-music #app-navigation .app-navigation-separator {
  border-bottom-color: #e7e7e7;
}
.app-music #app-navigation li.drag-hover {
  background-color: #fafafa;
}

.app-music #app-content #emptycontent, .app-music #app-content .emptycontent {
  background-color: white;
}
.app-music #app-content #toScan:hover * {
  color: black;
}
.app-music #app-content .alphabet-navigation a {
  opacity: 0.2;
}
.app-music #app-content .alphabet-navigation a.available {
  opacity: 0.7;
}
.app-music #app-content .alphabet-navigation a.available:hover {
  opacity: 1;
}
.app-music #app-content #controls {
  border-bottom: 1px solid #e7e7e7;
}
.app-music #app-content #controls .progress, .app-music #app-content #controls .seek-bar {
  background-color: #232629;
}
.app-music #app-content #controls .buffer-bar {
  opacity: 1;
  background-color: #fafafa;
}
.app-music #app-content #controls .play-bar {
  background-color: #ebfff9;
}
.app-music #app-content #app-sidebar .close, .app-music #app-content #app-sidebar #follow-playback {
  background-color: unset;
}
.app-music #app-content #music-user .warning a {
  color: #57cb65 !important;
}

#music-controls {
  background-color: white;
  border-top: 1px solid #e7e7e7;
}
#music-controls #albumart {
  border: none;
}
#music-controls .seek-bar {
  background-color: #232629;
}
#music-controls .buffer-bar {
  opacity: 1;
  background-color: #fafafa;
}
#music-controls .play-bar {
  background-color: #ebfff9;
}

/* News --------------------------------------------------------------------- */
.app-news #app-navigation .add-new .heading:hover {
  background-color: #fafafa;
}
.app-news #app-navigation .add-new-popup {
  box-shadow: none;
  border-color: #e7e7e7;
  width: 100%;
}
.app-news #app-navigation > ul > li > a,
.app-news #app-navigation > ul > li > ul > li > a {
  opacity: 1;
}
.app-news #app-navigation #app-settings-content a {
  color: #57cb65;
}

.app-news #app-content .item {
  border-color: #e7e7e7;
}
.app-news #app-content .item.active {
  background-image: none;
}
.app-news #app-content .date {
  color: rgba(0, 0, 0, 0.5);
}
.app-news #app-content .heading a {
  color: black;
}
.app-news #app-content .subtitle, .app-news #app-content .author {
  color: rgba(0, 0, 0, 0.5);
}
.app-news #app-content .subtitle a, .app-news #app-content .author a {
  color: #57cb65;
}
.app-news #app-content .no-feeds-available {
  color: rgba(189, 195, 199, 0.4);
}
.app-news #app-content .title .intro {
  color: #ebfff9;
}
.app-news #app-content .body {
  font-size: 15px;
}
.app-news #app-content .body a {
  color: #57cb65;
}
.app-news #app-content .body blockquote {
  border-color: #43b749;
  background-color: white;
}
.app-news #app-content .body h1, .app-news #app-content .body h2, .app-news #app-content .body h3 {
  color: black;
}
.app-news #app-content .body h4, .app-news #app-content .body h5, .app-news #app-content .body h6 {
  color: black;
}
.app-news #app-content .body pre {
  background-color: white;
  border-color: #e7e7e7;
}
.app-news #app-content .compact .utils {
  background-color: white;
}
.app-news #app-content .compact .utils .title h1 a {
  color: black;
}
.app-news #app-content .compact .read .utils .title h1 a {
  color: black;
}

.app-news #explore .category {
  background-color: #98cb53;
}
.app-news #explore .grid-item {
  border-color: #e7e7e7;
}
.app-news #explore .explore-footer a {
  color: #57cb65;
}

.app-passman #app-navigation .taginput:hover {
  background: none;
}
.app-passman #app-navigation .nav-trashbin a {
  background-color: white !important;
}
.app-passman #app-navigation .nav-trashbin a:hover {
  background-color: #fafafa !important;
}
.app-passman #app-navigation .nav-trashbin a.active {
  background-color: #ebfff9 !important;
  border-left: none;
}
.app-passman #app-navigation .nav-icon-systemtagsfilter {
  background-image: none;
}
.app-passman .link {
  color: #57cb65 !important;
}
.app-passman #app-content #app-content-wrapper .credential-table tr td {
  border-bottom-color: #e7e7e7;
}
.app-passman #app-content #app-content-wrapper .credential-table tr {
  background-color: #232629;
}
.app-passman #app-content #app-content-wrapper .credential-table tr:hover {
  background-color: #fafafa;
}
.app-passman #app-content #app-content-wrapper .credential-table tr.selected {
  background-color: #ebfff9;
}
.app-passman #app-content #app-content-wrapper .viewModes .view-mode {
  background-color: white;
}
.app-passman #app-content #app-content-wrapper .viewModes .view-mode.active {
  background-color: #ebfff9;
}
.app-passman #app-content #app-content-wrapper .viewModes .view-mode:first-child, .app-passman #app-content #app-content-wrapper .viewModes .view-mode:last-child {
  background-color: white;
  border-color: #e7e7e7;
}
.app-passman #app-content #app-content-wrapper .tags .tag {
  background-color: #4d4d4d;
  border: 1px solid #e7e7e7;
}
.app-passman #app-content #app-content-wrapper .app_sidebar .credential-data .tags .tag {
  background-color: #4d4d4d;
  border: 1px solid #e7e7e7;
}
.app-passman #app-content #app-content-wrapper #passman-controls {
  top: 46px;
  background-color: inherit;
  border-bottom: 1px solid #e7e7e7;
}
.app-passman #app-content #app-content-wrapper .searchboxContainer .searchOptions {
  background: white;
  border-color: #e7e7e7;
  box-shadow: none;
}
.app-passman #app-content .tab_header li.active .indicator {
  height: 5px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ebfff9 !important;
}
.app-passman #app-content .tab_header li.tab {
  border-right: 1px solid #e7e7e7;
  color: black !important;
  background-color: white !important;
}
.app-passman #app-content .tab_container {
  border: none;
}
.app-passman #app-content .pass-meter .details, .app-passman #app-content .pass-meter .pass-meter-message {
  color: rgba(0, 0, 0, 0.5);
}
.app-passman #app-content .pw-gen .generate_pw .cell {
  padding: 4.7px;
  display: inline-block;
  font-size: 14px;
  border: 1px solid #e7e7e7;
  background-color: white;
  cursor: pointer;
}
.app-passman #app-content .pass-meter-col.poor .indicator {
  background-color: #da4453;
}
.app-passman #app-content .pass-meter-col.weak .indicator {
  background-color: white;
}
.app-passman #app-content .pass-meter-col.good .indicator {
  background-color: #27ae60;
}
.app-passman #app-content .pass-meter-col.strong .indicator {
  background-color: #ebfff9;
}
.app-passman #app-content .inputfile + label {
  font-size: 1.25em;
  background-color: #232629;
  margin-top: 3px;
  padding: 5px;
  border: 1px solid #e7e7e7;
}
.app-passman #app-content .inputfile + label:hover {
  border-color: #43b749;
}
.app-passman #app-content .icon-label .icon-picker .cell {
  border-color: #e7e7e7;
  background-color: white;
}
.app-passman #app-content .icon-label .icon-picker .cell:hover {
  border-color: #43b749;
}

.vault_wrapper {
  box-shadow: none;
  background: #232629;
  border: 1px solid #e7e7e7;
}
.vault_wrapper .vaultlist li {
  padding: 16px;
  border-bottom: 1px solid #e7e7e7;
}
.vault_wrapper .vaultlist li:hover {
  background-color: #fafafa;
  border-radius: 5px 5px 0 0;
}
.vault_wrapper .vaultlist li.ng-scope:last-child {
  border-bottom: none;
}
.vault_wrapper .vaultlist li.ng-scope:last-child:hover {
  background-color: #fafafa;
  border-radius: 0 0 5px 5px;
}

.btn-danger, .btn-default, .btn-info, .btn-primary, .btn-success, .btn-warning {
  text-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn-danger {
  background-image: none;
  filter: none;
  background-repeat: no-repeat;
  background-color: #da4453;
  border-color: #da4453;
}

tags-input .tags {
  background-color: #232629;
  border: 1px solid #e7e7e7;
  box-shadow: none;
}
tags-input .tags.focused {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-color: #43b749;
}
tags-input .tags .tag-item.selected {
  background: #da4453 !important;
}
tags-input .tags .tag-item {
  border: 1px solid #e7e7e7;
  border-radius: 3px;
  color: black;
}
tags-input.ng-invalid .tags {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-color: #da4453;
}
tags-input .autocomplete {
  background-color: #232629;
  border: 1px solid #e7e7e7;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
tags-input .autocomplete .suggestion-item.selected, tags-input .autocomplete .suggestion-item.selected em {
  color: black;
  background-color: #ebfff9;
}

.angularjs-datetime-picker {
  color: black;
  border: 1px solid #e7e7e7;
  background: #232629;
}
.angularjs-datetime-picker .adp-month {
  background: #232629;
  border-bottom: 1px solid #e7e7e7;
}
.angularjs-datetime-picker .adp-month > button {
  color: black;
  top: 4px;
}
.angularjs-datetime-picker .adp-month > button:hover {
  color: #ebfff9;
}
.angularjs-datetime-picker .adp-days > .adp-day.selected {
  background: #fafafa;
  border-color: #43b749;
}
.angularjs-datetime-picker .adp-days > .adp-day.selectable:hover {
  background: #fafafa;
}
.angularjs-datetime-picker #adp-time label {
  float: left;
}
.angularjs-datetime-picker #adp-time input[type=range] {
  float: right;
}

.sequence code {
  border: none;
}

#passman-settings #mover table tr:hover {
  background-color: unset;
}

.app-passwords #app-navigation li {
  color: black;
}
.app-passwords #app-navigation li.active {
  color: black;
}
.app-passwords #app-navigation .nav-icon-recent,
.app-passwords #app-navigation .nav-icon-security {
  background-image: none;
}
.app-passwords #app-content #controls .crumbmenu .menu,
.app-passwords #app-content #controls .passwords-more-menu .menu {
  border: none;
  border-color: #e7e7e7;
  transition: border 0.25s ease-in-out, max-height 0.25s ease-in-out;
}
.app-passwords #app-content #controls .crumbmenu.active .menu,
.app-passwords #app-content #controls .passwords-more-menu.active .menu {
  border: 1px solid #e7e7e7;
}
.app-passwords #app-content .item-list .row {
  border-bottom-color: #e7e7e7;
}
.app-passwords #app-content .item-list .row:hover {
  background-color: #fafafa;
}
.app-passwords #app-content .item-list .row.header, .app-passwords #app-content .item-list .row.header .date {
  color: black;
}
.app-passwords #app-content .item-list .row .date {
  color: rgba(0, 0, 0, 0.5);
}
.app-passwords #app-content .item-list .row .genericIcon {
  color: black;
}
.app-passwords #app-content .item-list .row.footer:hover {
  background-color: white;
}
.app-passwords #app-content .item-list .row .more:hover {
  color: black;
}
.app-passwords #app-content .item-list .row .more .popovermenu.bubble.menu li {
  color: black;
  opacity: 0.7;
}
.app-passwords #app-content .item-list .row .more .popovermenu.bubble.menu li:hover {
  background-color: #fafafa;
  color: black;
  opacity: 1;
}
.app-passwords #app-content .item-list .row .more .popovermenu.bubble.menu li a {
  color: black;
}
.app-passwords #app-content .backup-dialog h1 {
  border-color: #e7e7e7;
  background-color: #232629;
}
.app-passwords #app-content .backup-dialog h1::before {
  color: black;
  border-color: #e7e7e7;
}
.app-passwords #app-content .help .handbook-page blockquote {
  border-left-color: #43b749;
  background-color: #4d4d4d;
}
.app-passwords #app-content .help .handbook-page .md-image-container .md-image-link {
  border-color: #e7e7e7;
}
.app-passwords #app-content .help .handbook-page .md-image-container .md-image-caption {
  border-top-color: #e7e7e7;
  color: rgba(0, 0, 0, 0.5);
}
.app-passwords #app-content .app-content-right {
  background-color: white;
  border-left-color: #e7e7e7;
}
.app-passwords #app-content .app-content-right .item-details .infos {
  color: rgba(0, 0, 0, 0.5);
}
.app-passwords #app-content .app-content-right .item-details .infos .tags-container {
  color: #000;
}
.app-passwords #app-content .app-content-right .item-details .tab-container .tab-titles .tab-title {
  color: black;
}
.app-passwords #app-content .app-content-right .item-details .tab-container .tab-titles .tab-title.active {
  color: black;
}
.app-passwords #app-content .app-content-right .item-details .details div:not(.header) {
  color: black;
}
.app-passwords #app-content .app-content-right .item-details .details div:not(.header) span {
  color: black;
}
.app-passwords #app-popup #passwords-create-new .window {
  background-color: white;
}
.app-passwords #app-popup #passwords-create-new .window .title {
  color: black !important;
  background-color: #98cb53 !important;
}
.app-passwords #app-popup #passwords-create-new .window form.content .section-title, .app-passwords #app-popup #passwords-create-new .window form.content .open .foldout-title {
  border-color: #e7e7e7 !important;
}
.app-passwords #app-popup #passwords-create-new .window form.content .notes-container .editor-toolbar a {
  color: black !important;
}
.app-passwords #app-popup #passwords-create-new .window form.content .notes-container .editor-toolbar a:hover {
  background-color: white;
  border-color: #43b749;
}
.app-passwords #app-popup #passwords-create-new .window form.content .notes-container .editor-toolbar a.active {
  background-color: #ebfff9;
  border-color: #43b749;
}
.app-passwords #app-popup #passwords-create-new .window form.content .notes-container .editor-toolbar.disabled-for-preview a:not(.no-disable) {
  background-color: #4d4d4d;
  border: none;
}
.app-passwords #app-popup #passwords-create-new .window form.content .notes-container .CodeMirror .editor-preview {
  background-color: white;
}
.app-passwords #app-popup #passwords-create-new .window form.content .notes-container .CodeMirror span.CodeMirror-selectedtext {
  background-color: #ebfff9;
  padding: 1px 0;
}

.oc-dialog-buttonrow.twobuttons button.primary {
  border-color: #e7e7e7;
}
.oc-dialog-buttonrow.twobuttons button.primary:hover, .oc-dialog-buttonrow.twobuttons button.primary:active, .oc-dialog-buttonrow.twobuttons button.primary:focus {
  border-color: #43b749;
}

.app-passwords #app-content .app-content-left.settings section.danger input[type=button]:hover {
  background-color: #da4453 !important;
  border-color: #da4453 !important;
  color: black !important;
}

.app-ocsms #app-content-header {
  margin-top: 1px;
}

#app-mailbox-peers {
  border-color: #e7e7e7;
  background-color: #232629;
}
#app-mailbox-peers li {
  border-top-color: #e7e7e7;
}
#app-mailbox-peers li:hover {
  background-color: #fafafa;
}
#app-mailbox-peers li:hover > a {
  background: none;
}
#app-mailbox-peers .selected {
  background-color: #ebfff9;
}
#app-mailbox-peers .selected:hover {
  background-color: #ebfff9;
}
#app-mailbox-peers .selected a {
  background: none;
}

.ocsms-plname {
  color: black;
}

#ocsms-phone-msg-nb {
  color: black;
}

#ocsms-phone-label {
  font-weight: bold;
  color: black;
}

.msg-date {
  color: rgba(0, 0, 0, 0.5);
  opacity: 0.5;
}

.msg-sent, .msg-recv {
  background-color: #232629;
  border-color: #e7e7e7;
  box-shadow: none;
}
.msg-sent:hover .msg-date, .msg-recv:hover .msg-date {
  opacity: 1;
  color: rgba(0, 0, 0, 0.5);
}

.msg-sent {
  border-color: #27ae60;
}

.app-quicknotes #app-navigation #new-note-fixed {
  background-color: white;
  padding: 9px;
  margin: 1px;
}
.app-quicknotes #app-navigation #colors-folder .icon-checkmark {
  background-image: url("/core/css/../img/actions/checkmark.svg?v=1");
}
.app-quicknotes #app-navigation #colors-folder .circle-toolbar.any-color {
  background-color: #4d4d4d;
}
.app-quicknotes #app-navigation #notes-folder .note a {
  color: black;
  opacity: 0.7;
}
.app-quicknotes .quicknote {
  color: #000000;
  box-shadow: none;
}
.app-quicknotes .quicknote .icon-checkmark {
  background-image: url("/core/css/../img/actions/checkmark.svg?v=1");
}
.app-quicknotes .quicknote .icon-delete {
  background-image: url("/core/css/../img/actions/delete.svg?v=1");
}
.app-quicknotes .quicknote .icon-delete:hover, .app-quicknotes .quicknote .icon-delete:focus {
  background-image: url("/core/css/../img/actions/delete-hover.svg?v=1");
}

/* Radio -------------------------------------------------------------------- */
.app-radio #app-navigation #app-settings #volumeslider .ui-slider-range {
  background-color: #ebfff9;
}
.app-radio #app-navigation #app-settings #volumeslider .ui-slider-handle.ui-state-focus {
  background-color: white;
}
.app-radio #app-navigation #app-settings #playbutton:hover:not(:disabled):not(.primary):not(#quota), .app-radio #app-navigation #app-settings #playbutton:active:not(:disabled):not(.primary):not(#quota), .app-radio #app-navigation #app-settings #playbutton:focus:not(:disabled):not(.primary):not(#quota) {
  border: none;
  background-color: inherit;
}

.app-radio #app-content #app-content-files #filestable tbody tr {
  background-color: white !important;
}
.app-radio #app-content #app-content-files #filestable tbody tr:hover {
  background-color: #fafafa !important;
}

/* SSO & SAML authentication ------------------------------------------------ */
#user-saml-settings .toggle {
  color: #57cb65;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  opacity: 1;
}

.app-tasks #app-content {
  height: 99.9%;
  border-top: 1px solid #e7e7e7;
}
.app-tasks #app-content h2 {
  text-shadow: none;
  opacity: 1;
}
.app-tasks #app-content #add-task {
  border: 1px solid #e7e7e7;
  background: #232629;
}
.app-tasks #app-content #add-task input {
  color: black;
  background: #232629 !important;
}
.app-tasks #app-content .sortorder-dropdown-button {
  background-color: white;
  border: 1px solid #e7e7e7;
  height: 32px;
  margin: 13px 0px 12px 12px;
  border-radius: 0;
}
.app-tasks #app-content .sortorder-dropdown li > a {
  color: black;
}
.app-tasks #app-content .categories-list li {
  background-color: white;
  border: 1px solid #e7e7e7;
  color: black;
}
.app-tasks #app-content .select2-drop {
  background: #232629;
  color: black;
  border: 1px solid #e7e7e7;
  border-top: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.app-tasks #app-content .select2-container-multi .select2-choices,
.app-tasks #app-content .select2-container-multi.select2-container-active .select2-choices,
.app-tasks #app-content .select2-container .select2-choice {
  border-radius: 0;
  border: 1px solid #e7e7e7;
}

#app-sidebar div.content-wrapper .title {
  background-color: #ebfff9;
  border-bottom: 1px solid #e7e7e7;
  text-shadow: none;
}
#app-sidebar div.content-wrapper .title textarea:hover, #app-sidebar div.content-wrapper .title textarea:active, #app-sidebar div.content-wrapper .title textarea:focus {
  background: none repeat scroll 0 0 transparent !important;
}

#app-sidebar div.content-wrapper .title .expandable-container {
  background: #232629;
  border: 1px solid #e7e7e7;
}

#app-sidebar div.content-wrapper .body .section {
  background: inherit;
  text-shadow: none;
  border-bottom: 1px dashed #e7e7e7;
}
#app-sidebar div.content-wrapper .body .section input[type=range] {
  background-color: white;
}
#app-sidebar div.content-wrapper .body .section input[type=text] {
  background-color: #232629;
}

#app-sidebar div.content-wrapper .body .section .note {
  background-color: #232629;
  border-width: 1px 1px 1px 1px;
  border-style: solid;
  border-color: #e7e7e7;
}
#app-sidebar div.content-wrapper .body .section .note .expandingArea textarea {
  color: black;
}

#app-sidebar .content-wrapper .body .section.detail-categories .select2-container-multi .select2-choices .select2-search-choice {
  color: black;
  background-color: white;
  border-color: #e7e7e7;
  margin: 3px 0 3px 5px;
}

#app-navigation li > a span.title, #app-navigation li > a span.icon {
  opacity: 1;
}

#content {
  color: black;
}

#content li.task-item .task-body, #content div.task-item .task-body {
  background-color: #232629;
  border: 1px solid #e7e7e7;
}

#content li.task-item .task-body .title-wrapper, #content div.task-item .task-body .title-wrapper {
  color: black;
  text-shadow: none;
}

#content li.task-item .task-body:hover,
#content div.task-item .task-body:hover {
  background-color: #fafafa;
}

#content li.task-item .task-body.active,
#content div.task-item .task-body.active {
  background-color: #ebfff9;
}

#app-content div.task-list .loadmore span {
  color: rgba(0, 0, 0, 0.5);
  background-color: white;
  border: 1px solid #e7e7e7;
}
#app-content div.task-list .loadmore span:hover {
  color: black;
  background-color: inherit;
  border-color: #43b749;
}

#app-navigation .app-navigation-entry-edit input.icon-close, #app-navigation .app-navigation-entry-edit input[type=submit]:hover {
  background-color: white;
}
#app-navigation .app-navigation-entry-edit input.icon-close:hover, #app-navigation .app-navigation-entry-edit input[type=submit]:hover:hover {
  background-color: #ebfff9;
}

#app-navigation .app-navigation-entry-edit input {
  border: 1px solid #e7e7e7;
}

#content li.task-item.add-subtask input, #content div.task-item.add-subtask input {
  background: #232629 !important;
  color: black;
}

#content li.task-item.add-subtask, #content div.task-item.add-subtask {
  border: 1px solid #e7e7e7;
}

#app-sidebar div.content-wrapper .body .section input {
  background: #232629;
  border: 1px solid #e7e7e7;
  box-shadow: none;
  color: black;
}

div.percentdone {
  height: 3px;
  margin-bottom: -3px;
  background-color: #CCC;
  border-radius: 0;
}

#app-sidebar div.content-wrapper div.footer {
  border-top: none;
  box-shadow: none;
}

#content li.task-item .task-body .duedate, #content div.task-item .task-body .duedate {
  color: black;
  text-shadow: none;
}

#content li.task-item .task-body .duedate.overdue, #content div.task-item .task-body .duedate.overdue {
  color: #da4453;
  font-weight: bold;
  text-shadow: none;
}

.app-tasks .icon {
  opacity: 0.5;
}
.app-tasks .icon-task-star a::before,
.app-tasks .icon-alphabetically,
.app-tasks .icon-sort-down,
.app-tasks .icon-all a::before,
.app-tasks .icon-current a::before,
.app-tasks .icon-add a::before {
  filter: invert(95%);
}
.app-tasks #app-settings .icon-all,
.app-tasks #app-settings .icon-current,
.app-tasks #app-settings .icon-task-star,
.app-tasks #app-settings .icon-calendar,
.app-tasks #app-settings .icon-subtasks-visible, .app-tasks .app-navigation-entry-menu .icon-all,
.app-tasks .app-navigation-entry-menu .icon-current,
.app-tasks .app-navigation-entry-menu .icon-task-star,
.app-tasks .app-navigation-entry-menu .icon-calendar,
.app-tasks .app-navigation-entry-menu .icon-subtasks-visible {
  filter: invert(95%);
}
.app-tasks #app-content .icon-subtasks-visible {
  filter: invert(95%);
}

/* User account deletion ---------------------------------------------------- */
#delete-account-settings .warnings {
  color: #da4453;
}

button#deleteaccount {
  background-color: #da4453;
  border-color: #da4453;
}
button#deleteaccount:hover:not(:disabled):not(.primary):not(#quota) {
  border-color: #da4453;
}
button#deleteaccount:disabled {
  background-color: #4d4d4d;
}

#oca-spreedme-add-room {
  border-bottom-color: #e7e7e7;
}

/* Weather ------------------------------------------------------------------ */
.app-weather #city-list-left {
  background-color: white;
  border-left: none;
  border-right-color: #e7e7e7;
}
.app-weather #city-list-left .city-list li a {
  color: black;
}
.app-weather #city-list-left .city-list li:hover, .app-weather #city-list-left .city-list li:hover > a {
  background-color: #fafafa;
  box-shadow: inset 2px 0 #98cb53;
}
.app-weather #city-list-left .city-list li.selected, .app-weather #city-list-left .city-list li.selected a {
  background-color: #ebfff9;
  color: black;
  font-weight: 600;
  box-shadow: inset 2px 0 #98cb53;
}
.app-weather #city-list-left .city-list #create-city {
  background-color: white;
  border-left: none;
  border-right: none;
  border-top-color: #43b749;
  border-bottom-color: #43b749;
}
.app-weather #city-list-left .city-list #create-city h1 {
  color: black;
}
.app-weather #city-list-left .city-list #create-city hr {
  background: #e7e7e7;
}

.app-weather #city-right table tr {
  background-color: unset;
}

/*# sourceMappingURL=server.css.map */
