.app-calendar {

  .glyphicon.glyphicon-chevron-right {
    background-image: url('../img/actions/arrow-right.svg');
    background-size: 23px;
  }
  .glyphicon.glyphicon-chevron-left {
    background-image: url('../img/actions/arrow-left.svg');
    background-size: 23px;
  }
  #app-navigation {

    .active {
      background-color: inherit;
    }

    .new-entity {
      opacity: 0.7;

      &:hover {
        background-color: $background-active-hover;
        opacity: 1;
      }
    }

    .togglebuttons {

      .button.active {
        color: $foreground-normal;
      }
    }

    #datepickercontainer {

      .datepicker-heading .button {
        background-color: $background-normal;
      }

      #datepicker table td {

        button:hover {
          background-color: $background-active-hover;
          border-radius: 50%;
        }

        .text-muted {
          opacity: 0.5;
        }

        &.highlight-today {
          background-color: $background-alternate;
          border-radius: 50%;
        }

        &.highlight-weekend button {
          color: $decoration-active;

          .text-muted {
            color: $decoration-active;
          }

          &:hover {
            color: $foreground-active;
          }
        }
      }
    }
  }

  #calendarlistcontainer {

    li.new-entity-container {
      > a, > a:hover {
        margin-top: 0 !important;
        margin-left: 10px;
        margin-right: 5px;
        border-radius: 150px;
        background-color: $background-active-alternate;
      }
      > div {
        padding-left: 18px !important;
        padding-right: 11px;
      }
    }
    .app-navigation-entry-utils {
      background-color: transparent !important;
      ul {
        li {
          background-color: transparent !important;
          button {
            background-size: 20px;
          }
        }
      }
    }

  }
}

.fc-unthemed {

  th, td, thead, tbody, .fc-divider, .fc-row, .fc-popover {
    border-color: $decoration-normal;
  }

  .fc-divider, .fc-popover .fc-header, .fc-list-heading td {
    background-color: $background-alternate;
  }
}

#fullcalendar {
  background-color: $background-normal;

  table thead th {
    background-color: $background-normal;
  }

  table tbody tr td.fc-other-month {
    background-color: $background-normal;
  }

  &.fc-unthemed {

    tr td {
      border-top-color: $decoration-normal;
    }

    .fc-today {
      background-color: $background-active !important;
      color: $foreground-active;

      span.fc-day-number {
        font-weight: 600;
      }
    }
  }

  td.fc-day {
    &.fc-sat, &.fc-sun {
      background-color: $background-normal;

      &.fc-other-month {
        background-color: $background-normal;
      }
    }
  }
}

.fc-basic-view .fc-day-top .fc-week-number {
  background-color: $background-normal;
  color: $foreground-normal;
  border-right: 1px solid $decoration-normal;
  border-bottom: 1px solid $decoration-normal;
}

.fc th,
.fc .fc-axis,
.fc-day-grid-event .fc-time,
.fc-ltr .fc-basic-view .fc-day-number,
.fc-ltr .fc-basic-view .fc-week-number,
.fc-time-grid-event .fc-time {
  opacity: 1;
  font-size: 85%;
}

// Centers the position of the day number in the corner
.fc-ltr .fc-basic-view .fc-day-top .fc-day-number {
  padding-right: 6px;
}

.modal-open {

  .modal.popover, .modal.import {
    background: $background-normal;
    box-shadow: none;
    border: 1px solid $decoration-normal;
  }
}

.advanced {

  // Force location field in app sidebar to be dark
  .advanced--input {
    background: $background-normal !important;
  }

  .advanced--button-area {
    border-color: $decoration-normal;
  }
}

.advanced--fieldset-attendeelist .advanced--toggler:hover,
.advanced--fieldset-reminderlist .advanced--toggler:hover {
  background: $background-active-hover;
}

.events--time--wrapper {
  input {
    background-color: $background-normal !important;
    color: $foreground-normal !important;
  }
}