.app-contacts {

  .propertyGroup__title {
    .icon-contacts-dark {

    }
  }
  #app-settings-content #upload.button {
    background-size: contain;
    padding-left: 50px;
  }

  .addressbooklist-icon.icon-shared {
    background-size: contain;
  }

  .contact-details-wrapper.wrapper-show.icon-loading {
    margin-top: 100px !important;
  }

  #app-navigation {
    ul > li {
      opacity: 1;
      font-weight: bold;
      a {
        opacity: 1;
        font-weight: bold;
        padding: 0 12px 0 55px !important;
        background-color: transparent !important;
        margin: 0 !important;
      }

    }
    ul > li:hover {
      background-color: $background-active;
    }
    .app-navigation-entry-edit,
    .app-navigation-entry-deleted {
      background-color: $background-normal;
    }
  }

  //.app-content-list-item {
  //	color: $foreground-normal;
  //
  //	&:first-child {
  //		border: none;
  //	}
  //
  //	&:active, &:focus {
  //		background-color: $background-active;
  //	}
  //
  //	&.active {
  //		background-color: $background-active;
  //		color: $foreground-active;
  //		font-weight: 600;
  //	}
  //}

  .contactdetails__header {

    .contactdetails__name,
    .contactdetails__org,
    .contactdetails__title {
      color: $foreground-normal !important;
      font-weight: 600;

      &:placeholder-shown {
        opacity: 1;
      }
    }

    #details-contact-infos input {

      &:hover, &:focus {
        background: none;
      }
    }
  }

  detailsitem select {
    color: $foreground-normal;
  }

  #importscreen-wrapper,
  #importscreen-sidebar-block {
    background: $background-normal;
  }

  #importscreen-progress {
    background-color: $background-normal;
  }

  /*.addressBookList .newAddressBookSubmit {
      border: none;
      opacity: 0;
  }*/
}