table td.filesize {
  color: $foreground-normal !important;
}

td.date, td.date > span {
  color: $foreground-normal !important;
  opacity: 1;
}

table.multiselect {
  thead th {
    background-color: $background-active-hover;
    color: $foreground-normal;
  }

  th a {
    color: $foreground-normal;
  }
}

tr {
  &, &:hover, &:active, &:focus {
    span.extension {
      color: $foreground-active;
    }
  }
}

#fileList {

  td a a.action {
    opacity: 1 !important;
  }
  tr .thumbnail-wrapper {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px 30px;

  }
  tr[data-mime$="httpd/unix-directory"] .thumbnail-wrapper {
    background-image: url('../img/All files-icon-hover.svg?v=1');
    .thumbnail {
      display: none;
    }
  }
  tr[data-mime$="application/zip"] .thumbnail-wrapper {
    background-image: url('../img/Zip.svg?v=1');
    .thumbnail {
      display: none;
    }
  }

  tr[data-mime$="text/plain"] .thumbnail-wrapper {
    background-image: url('../img/TXT.svg?v=1');
    .thumbnail {
      display: none;
    }
  }

  tr[data-mime$="application/vnd.ms-powerpoint"] .thumbnail-wrapper {
    background-image: url('../img/PPT.svg?v=1');
    .thumbnail {
      display: none;
    }
  }

  tr[data-mime$="application/vnd.openxmlformats-officedocument.wordprocessingml.document"] .thumbnail-wrapper {
    background-image: url('../img/DOC.svg?v=1');
    .thumbnail {
      display: none;
    }
  }

  tr[data-mime$="application/pdf"] .thumbnail-wrapper {
    background-image: url('../img/PDF.svg?v=1');
    .thumbnail {
      display: none;
    }
  }
}

.info span {
  opacity: 1;
  color: #000;
}

.filesize {
  opacity: 1;
  color: #000;
}

#fileList tr td.selection > .selectCheckBox + label:before {
  opacity: 1;
}