/* Notifications ----------------------------------------------------------- */

#notification {
  border: 1px solid $decoration-normal;
  border-top: none;

  a {
    color: $foreground-link;
  }
}

.notification:not(:last-child) {
  border-bottom: 1px solid $decoration-normal;
}

.notifications div.notifications-button {
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1 !important;
  background-image: url('../img/Notifications-icon-hover.svg?v=1');

  img {
    display: none;
  }
}

.searchbox input[type='search'] {
  opacity: 1 !important;
}